/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

/* Variables */
:root {
    /* Font Sizes */
    --font-text: 1rem;
    --font-title: 3rem;
    --font-subtitle: 1.8rem;
    /* Spacing */
    --spacing-large: 5rem;
    --spacing-mid: 3rem;
    --spacing-small: 1.5rem;
    /* Colors */
    --primary-color: rgb(11, 11, 11);
    --secondary-color: rgb(255, 255, 255);
    --primary-bg-color: rgb(74, 44, 42);
}



/* Reset Preset */
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}



/* Navigation bar styling */
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0 3px 7px 1px rgb(75, 75, 75);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1rem var(--spacing-large);
}

.nav-logo {
    width: 120px;
    height: 64px;
}

.nav-links {
    display: flex;
}

.nav-links div{
    display: flex;
    align-items: center;
    margin-left: var(--spacing-small);
}

.nav-links-a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-left: 0.7rem;
    font-weight: 400;
    font-size: 1.1rem;
}

.nav-links-a:hover {
    transition: all 0.3s;
    color: var(--primary-bg-color);
}

.nav-links-icons {
    width: 1.5rem;
    height: 1.5rem;
}



/* Gallery Section Styling */
.gallery {
    margin-top: 8rem;
}

.gallery-title {
    font-size: var(--font-title);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding-top: var(--spacing-small);
}

.gallery-container {
    margin: var(--spacing-large);
    margin-top: var(--spacing-mid);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
}

.gallery-container > *{
    min-width: 0px;
}

.gallery-card-img {
    width: 100%;
    height: 500px;
    box-shadow: 0 3px 11px 1px rgb(75, 75, 75);
}

.gallery-card-img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}


/* Daily Routine section styling*/

.daily-routine {
    background-color: var(--primary-color);
    padding: var(--spacing-large) 0;
}

.daily-routine-title {
    font-size: var(--font-title);
    font-weight: 600;

    color: var(--secondary-color);
    text-align: center;
    margin: 0 var(--spacing-large);
}

.daily-routine-container {
    margin: var(--spacing-large);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
}

.gallery-card-vid {
    width: 100%;
    height: 100%;
}

.gallery-card-vid:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}



/* Instagram Section Styling */
.insta {
    display: flex;
    align-items: center;
    padding: var(--spacing-large) 20%;
}

.insta-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: end;
    align-self: center;
    color: var(--primary-color);
    margin-right: 0.5rem ;
}

.insta-checked-ico {
    width: 20px;
    height: 20px;
    margin-top: 0.3rem;
}

.insta-img {
    width: 150px;
    height: 150px;
    margin-left: var(--spacing-mid);
}

.insta-img:hover {
    transform: scale(1.3);
    transition: all 0.6s;
}



/* Footer Section Stlying*/
footer {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--spacing-small);
}

.copy {
    font-size: 0.4rem;
    margin-top: 0.5rem;
}

.copy a{
    font-size: 0.4rem;
    color: var(--secondary-color);
}










/* Responsive Adaptability */
@media screen and (max-width: 420px) {

    /* Navigation Bar Mobile*/
    .nav {
        padding: 0.5rem var(--spacing-small);
    }
    .nav-logo {
        width: 100px;
        height: 50px;
    }

    .nav-links-icons {
        display: none;
    }

    .nav-links-a {
        font-size: 0.8rem;
    }



    /* Gallery Mobile */
    .gallery {
        margin-top: 6rem;
    }

    .gallery-title {
        margin: 0;
        margin-top: 0rem;
        padding: 0;
        font-size: 2rem;
    }
    
    .gallery-container {
        margin-top: var(--spacing-small);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 1rem;
    }

    .gallery-container {
        margin: var(--spacing-small);
    }



    /* Daily Routine Mobile */
    .daily-routine {
        margin: 0;
        padding: var(--spacing-mid) 0;
    }

    .daily-routine-title {
        margin-bottom: var(--spacing-mid);
    }
    .daily-routine-container {
        margin: 0 var(--spacing-small);
        grid-template-columns: 1fr;
    }



    /* Instagram mobile Styling */
    .insta {
        display: block;
    }

    .insta-title {
        text-align: center;
        margin-bottom: var(--spacing-small);
    }

    .insta-checked-ico {
        display: none;
    }
}

@media screen and (min-width:600px) and (max-width:850px) {

    /* Navigation Bar Mobile*/
    .nav {
        padding: 0.5rem var(--spacing-mid);
    }
    .nav-logo {
        width: 160px;
        height: 80px;
    }

    .nav-links-a {
        font-size: 1.3rem;
    }



    /* Gallery Mobile */
    .gallery {
        margin: 3rem 0;
        margin-top: 9rem;
        
    }

    .gallery-title {
        margin: 0;
        margin-bottom: var(--spacing-mid);
        padding: 0;
        font-size: 3rem;
    }
    
    .gallery-container {
        margin-top: var(--spacing-small);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 2rem;
    }

    .gallery-container {
        margin: var(--spacing-small);
    }



    /* Daily Routine Mobile */
    .daily-routine {
        margin: 0;
        padding: var(--spacing-mid) 0;
    }

    .daily-routine-title {
        margin-bottom: var(--spacing-mid);
    }
    .daily-routine-container {
        margin: 0 var(--spacing-small);
        grid-template-columns: 1fr;
    }

    .gallery-card-vid {
        height: 1000px;
        margin-bottom: 2rem;
    }

    

    /*Instagram mobile Styling*/
    .insta {
        text-align: center;
        width: 100%;
        display: block;
        padding: var(--spacing-large) 0;
    }

    .insta-title {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: var(--spacing-small);
    }

    .insta-checked-ico {
        display: none;
    }

    .copy {
        font-size: 0.7rem;
    }

    .copy a{ 
        font-size: 0.7rem;
    }
}
