/* Google Fonts (Lato, Merriweather) */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Merriweather:wght@300;400;700&display=swap');

/* Variables */
:root {
    /* Font */
    --family-title: 'Merriweather', sans-serif;
    --family-text: 'Lato', sans-serif;
    --header: 6rem;
    --title: 2.5rem;
    --sub-title: 1.5rem;
    --text: 1.1rem;
    /* Spacing */
    --spacing-content: 10%;
    --spacing-large: 3rem;
    --spacing-normal: 2rem;
    --spacing-small: 1rem;
    --spacing-micro: 0.5rem;
    /* Colors */
    --black: #121212;
    --white: #f5f6f6;
    --indigo: #261b55;
    --blue: #5f5995;
    --blue-light: #466aa4;
    --gradient: radial-gradient(circle, rgba(193,146,69,1) 0%, rgba(234,208,142,1) 50%, rgba(193,146,69,1) 100%);
    --main: #c19245;
    /* Transitions */
    --transitions-default: all 0.4s ease-in-out;
    --transitions-slow: all 0.6s ease-in-out;
    /* Shadows */
    --layered-shadow: 
    0 1px 1px hsl(0deg 0% 0% / 0.066),
    0 2px 2px hsl(0deg 0% 0% / 0.066),
    0 4px 4px hsl(0deg 0% 0% / 0.066),
    0 8px 8px hsl(0deg 0% 0% / 0.066),
    0 12px 12px hsl(0deg 0% 0% / 0.066);
}

/* HTML Reset */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    background-color: #dc5d39;
    scroll-behavior: smooth;
    text-decoration: none;
    color: #ebd191;
}

/* Fade Dynamic Class */
.fade {
    opacity: 0;
    transform: translateY(-100%);
    transition: var(--transitions-slow);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0b0525;
    backdrop-filter: blur(5px);
    transition: var(--transition-slow);
}




/* Navigation Bar Styling */
.nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 0.5rem 5%;
    background: rgb(220,93,57);
    background: linear-gradient(circle, rgba(220,93,57,1) 0%, rgba(228,109,75,1) 50%, rgba(220,93,57,1) 100%);
    box-shadow: var(--layered-shadow);
    z-index: 33;
    transition: var(--transitions-slow);
}

.nav-logo-cnt--img {
    width: 122px;
    height: 95px;
    transition: var(--transitions-default);
    filter: drop-shadow(0 1px 1px hsl(0deg 0% 0% / 0.55));
}

.nav-logo-cnt--img:hover {
    transform: scale(1.03);
    transition: var(--transitions-default);
}

.spacee {
    margin-left: 2rem;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem var(--spacing-content);
    background: #dc5d39;
}

.bar-left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar--ico {
    height: 25px;
    width: auto;
    filter: drop-shadow(0 1px 1px hsl(0deg 0% 0% / 0.55));
}

.bar--ico2 {
    height: 24px;
    margin-bottom: 0.1rem;
    width: auto;
    filter: drop-shadow(0 1px 1px hsl(0deg 0% 0% / 0.55));
}

.spaceee {
    margin-left: 0.2rem;
}

.bar--img {
    width: auto;
    height: 33px;
}

.bar--img2 {
    width: auto;
    height: 33px;
}







/* Main Section */
/* Hero Section Styling */
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgb(220,93,57);
}

.hero-content {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.hero-content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20%;
    padding: 3rem;
    background-color: #00000068;
    box-shadow: var(--layered-shadow);
    margin-top: 3.3rem;
    border-radius: 5px;
}

.hero-content h1 {
    font-family: var(--family-text);
    font-weight: 400;
    font-size: 2.5rem;
    text-shadow: var(--layered-shadow);
    color: #fff;
    text-align: center;
    line-height: 1.03;
}



.swiper {
    width: 100%;
    height: fit-content;
    background-color: #c19245;
}

.swiper-slide img {
    width: 100%;
    height: 100vh;
    background-color: #c19245;
}

.swiper .swiper-button-next, .swiper .swiper-button-prev {
    color: var(--white);
    background: #c19245;
    padding: 2rem;
    border-radius: 50%;
    box-shadow: var(--layered-shadow);
    transform: scale(0.6);
}

.swiper .swiper-button-next {
    padding-right: 1.7rem;
}

.swiper .swiper-button-prev {
    padding-left: 1.7rem;
}

.swiper .swiper-pagination-bullet {
    transform: scale(1.3);
}

.swiper .swiper-pagination-bullet-active {
    background: #c19245;
}



.desktop {
    display: flex;
}

.mobile {
    display: none;
}








/* Footer Section Styling */
footer {
    background: rgb(220,93,57);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem var(--spacing-content);
}

.footer-logo {
    width: 133px;
    height: auto;
    transition: var(--transitions-default);
}

.footer-logo:hover {
    transform: scale(1.03);
    transition: var(--transitions-default);
}

.footer-bot {
    text-align: center;
    background: rgb(220,93,57);
    background: radial-gradient(circle, rgba(220,93,57,1) 0%, rgba(228,109,75,1) 50%, rgba(220,93,57,1) 100%);
    padding: 1rem var(--spacing-content);
    box-shadow: var(--layered-shadow);
}

.copy-cnt--text {
    font-family: var(--family-text);
    font-weight: 600;
    font-size: var(--text);
    text-shadow: var(--layered-shadow);
    color: #fff;
}

.footer-number {
    width: 333px;
    height: auto;
    transition: var(--transitions-default);
}

.footer-number:hover {
    transform: scale(1.03);
    transition: var(--transitions-default);
}














/* Mobile Responsive Styling */
@media only screen and (min-width: 220px) and (max-width: 1000px) {
    :root {
        /* Font */
        --spacing-content: 5%
    }

    .desktop {
        display: none !important;
    }

    .mobile {
        display: block ;
    }
 
    
/* Navigation Bar Styling */
.nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0.5rem var(--spacing-content);
    background: rgb(220,93,57);
    background: linear-gradient(circle, rgba(220,93,57,1) 0%, rgba(228,109,75,1) 50%, rgba(220,93,57,1) 100%);
    box-shadow: var(--layered-shadow);
    z-index: 33;
    transition: var(--transitions-slow);
}

.nav-logo-cnt--img {
    width: 122px;
    height: 95px;
    transition: var(--transitions-default);
    filter: drop-shadow(0 1px 1px hsl(0deg 0% 0% / 0.55));
}

.nav-logo-cnt--img:hover {
    transform: scale(1.03);
    transition: var(--transitions-default);
}







/* Main Section */
/* Hero Section Styling */
.hero {
    position: relative;
    height: 88vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.hero-content {
    display: flex;
    height: 88vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.hero-content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
    padding: 1rem;
    background-color: #00000068;
    box-shadow: var(--layered-shadow);
    margin-top: 5.3rem;
    border-radius: 5px;
}

.swiper {
    width: 100%;
    height: fit-content;
    background-color: #c19245;
}

.swiper-slide img {
    width: 100%;
    height: 88vh;
    background-color: #c19245;
}

.hero-content h1 {
    font-family: var(--family-text);
    font-weight: 300;
    font-size: 1.6rem;
    text-shadow: var(--layered-shadow);
    color: #fff;
    text-align: center;
    line-height: 1.03;
}

.swiper .swiper-button-next, .swiper .swiper-button-prev {
    display: none;
}

.swiper .swiper-pagination-bullet {
    transform: scale(1.7);
    margin: 0 1rem;
}

.swiper .swiper-pagination-bullet-active {
    background: #c19245;
}

.bar {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem var(--spacing-content);
    background: #dc5d39;
}

.bar-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar--ico {
    height: 30px;
    width: auto;
    filter: drop-shadow(0 1px 1px hsl(0deg 0% 0% / 0.55));
}

.bar--ico2 {
    height: 30px;
    width: auto;
    filter: drop-shadow(0 1px 1px hsl(0deg 0% 0% / 0.55));
}

.bar--img {
    width: auto;
    height: 44px;
}

.bar--img2 {
    width: auto;
    height: 44px;
}










/* Footer Section Styling */
footer {
    background: rgb(220,93,57);
    box-shadow: none;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem var(--spacing-content);
}

.footer-logo {
    width: 133px;
    height: auto;
    transition: var(--transitions-default);
}

.footer-logo:hover {
    transform: scale(1.03);
    transition: var(--transitions-default);
}

.footer-bot {
    text-align: center;
    background: rgb(220,93,57);
    background: radial-gradient(circle, rgba(220,93,57,1) 0%, rgba(228,109,75,1) 50%, rgba(220,93,57,1) 100%);
    padding: 1rem var(--spacing-content);
    box-shadow: none;
}

.copy-cnt--text {
    font-family: var(--family-text);
    font-weight: 600;
    font-size: var(--text);
    text-shadow: var(--layered-shadow);
    color: #fff;
}

.footer-number {
    width: 333px;
    height: auto;
    transition: var(--transitions-default);
}

.footer-number:hover {
    transform: scale(1.03);
    transition: var(--transitions-default);
}



}