@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --font-family: "Montserrat", sans-serif;
    --bottom-margin: 1rem;
    --primary-color: rgb(255, 208, 0);
    --secondary-color: rgb(255, 140, 0);
    --white-text: #fff;
    --black-text: #000;
    --spacing-web: 3.5rem;
}

html,body {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

*, ul {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-decoration: none;
}



/*Main nav container styling*/
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 0.5rem 3.5rem;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul{
    list-style-type: none;
    z-index: 1;
}

/* nav logo styling */
.navbar--logo a{
    font-size: 2rem;
    font-family: var(--font-family);
    font-weight: 800;
    color: var(--white-text);
    text-decoration: none;
}

.navbar--logo a:hover {
    color: var(--black-text);
}


/*nav links styling*/
.navbar--links ul li a {
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--font-family);
    color: var(--white-text);
    margin-right: 1rem;
}

/*Left to right animation on navbar*/
.navbar--links ul li a{  
    position: relative;
}

.navbar--links ul li a:hover {
    color: var(--black-text);
}

.navbar--links ul li a:after {
    content: "";
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    left: 0;
    background: var(--black-text);
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}
 
.navbar--links ul li a:hover:after {
  width: 100%;
  left: 0;
  background: var(--black-text);
}

.navbar--links ul {
    display: flex;
}

/*Hamburguer button styling*/
.navbar--bars-btn{
    display: none;
    position: relative;
    z-index: 3;

    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.navbar--bars-btn span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 4px;
    position: relative;
    background-color: var(--white-text);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.navbar--bars-btn:hover span:nth-child(2) {
    transform: translate(10px);
    background-color: orangered;
}

.navbar--bars-btn.is-active span:nth-child(1) {
    transform: translate(1px, -3px) rotate(45deg);
}

.navbar--bars-btn.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

.navbar--bars-btn.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

.navbar--bars-btn.is-active:hover span {
    background-color: var(--secondary-color);
}



/*Hero background image styling*/
.bg-image{
    background: url("../images/wall.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}



/*Hero section styling*/
.hero {
    position: absolute;
    top: 15%;
    width: 50%;
    padding: var(--spacing-web);
}

.hero h2 {
    font-size: 2rem;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.hero h1 {
    font-size: 4rem;
    font-family: var(--font-family);
    font-weight: 800;
    text-transform: uppercase;
    color: var(--white-text);
    margin-bottom: var(--bottom-margin);
}

/*Across mini bar styling*/
.hero--dec-line{
    border-bottom: 0.3rem solid var(--primary-color);
    width: 27%;
    margin-bottom: var(--bottom-margin);
}

.hero p {
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: 400;
    margin-bottom: var(--bottom-margin);
    color: var(--white-text);
}

.hero--container-btns{
    margin-top: 2rem;
}

.hero--btn-left{
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: 800;
    color: var(--white-text);
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    margin-right: 1rem;
    border-radius: 0.3rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.hero--btn-left:hover{
    background-color: var(--secondary-color);
}

.hero--btn-right{
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: 800;
    color: var(--white-text);
    text-decoration: none;
    background-color: transparent;
    padding: 1rem 2rem;
    border: 2px solid #fff;
    border-radius: 0.3rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.hero--btn-right:hover{
    background-color: var(--white-text);
    color: var(--black-text);
}



/*About me section styling*/
.about-me{
    display: flex;
    background-color: var(--white-text);
}

.about-me div{
    margin: 3.5rem;
    width: 50%;
}

.line {
    border-bottom: 0.3rem solid var(--primary-color);
    position: absolute;
    max-width: 6%;

}

.about-me h4 {
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: 800;
    color: var(--primary-color);
    margin-bottom: var(--bottom-margin);
}

.about-me h3 {
    font-size: 2rem;
    font-family: var(--font-family);
    font-weight: 800;
    margin-bottom: var(--bottom-margin);
}

.about-me--slogan {
    font-size: 1.5rem;
    font-family: var(--font-family);
    margin-top: 2.5rem;
    font-weight: 500;
    color: rgb(0, 0, 0, 0.250);
    font-style: italic;
}

.about-me--p1, .about-me--p2{
    font-size: 1rem;
    font-family: var(--font-family);
    line-height: 1.5rem;
    margin-bottom: var(--bottom-margin);
}

.about-me--p2{
    margin-bottom: 2.5rem;
}

.about-me--btn{
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    color: var(--white-text);
    background-color: var(--primary-color);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.about-me--btn:hover {
    background-color: var(--secondary-color);
}



/*Image services section styling*/
.img-services {
    display: flex;
    height: 30vh;
    margin: 1.5rem 0;
 }

 /*Individual box image styling*/
.img-services--one, .img-services--two, .img-services--three {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33.5%;
}
.img-services--one{
    background-image: url("../images/service1.jpg");
}
.img-services--two {
    background-image: url("../images/service2.jpg");
}
.img-services--three {
    background-image: url("../images/service3.jpg");
}

/*img-services inside text styling*/
.img-services div h5{
    font-size: 1.5rem;
    font-family: var(--font-family);
    font-weight: 800;
    color: var(--white-text);
    padding: 1rem 3.5rem;
    margin-top: 25%;
}

.img-services div p{
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--white-text);
    padding: 1rem 3.5rem;
}

.line-across{
    border-bottom: 0.3rem solid var(--primary-color);
    max-width: 10%;
    margin: 0 3.5rem;
}



/*Best services section title styling*/
.best-services {
    margin: 3rem 0;
}

.best-services--title h4, .best-services--title-h5{
    text-align: center;
    margin-bottom: var(--bottom-margin);
    font-family: var(--font-family);
    font-weight: 800;
    text-transform: uppercase;
}

.best-services--title h5 {
    color: var(--primary-color);
    font-size: 1rem;
}

.best-services--title h4 {
    font-size: 2rem;
}

.best-services--title-line{
    margin: 2rem 45%;
    border-bottom: 0.3rem solid var(--primary-color);
    max-width: 10%;
}

/*Best services container section styling*/
.best-services--container {
    margin: 3rem 10%;
    justify-content: space-between;
    margin-right: 7%;
}

.best-services--container-rows {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.best-services--service-card {
    display: flex;
    justify-content: space-between;
}

.best-services--service-card {
    align-items: center;
}

.best-services--service-card div img {
    width: 3rem;
    height: auto;
    padding: 1rem;
    margin-right: 1rem;
    border: 0.2rem solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.best-services--service-card h6 {
    font-size: 1.2rem;
    font-family: var(--font-family);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: var(--bottom-margin);
}

.best-services--service-card p {
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: 400;
    padding-right: 1rem;
}


/*Projects section styling*/
.projects--container-row{
    display: flex;
}
.projects--title {
    background-color: rgb(66, 66, 66);
    padding: 0.5rem 0;
}
.projects--title h6{
    text-align: center;
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: 800;
    color: var(--primary-color);
    text-transform: uppercase;
    padding-top: 1.5rem;
    margin-bottom: var(--bottom-margin);
}

.projects--title h5{
    text-align: center;
    font-size: 2rem;
    font-family: var(--font-family);
    font-weight: 800;
    color: var(--white-text);
    text-transform: uppercase;
    margin-bottom: var(--bottom-margin);
}

.project-1, .project-2, .project-3, .project-4, .project-5, .project-6,.project-7,.project-8 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 250px;
}

.project-1 {
    background-image: url(../images/project1.jpg);
}

.project-2 {
    background-image: url(../images/project2.jpg);
}

.project-3 {
    background-image: url(../images/project3.jpg);
}

.project-4 {
    background-image: url(../images/project4.jpg);
}

.project-5 {
    background-image: url(../images/project5.jpg);
}

.project-6 {
    background-image: url(../images/project6.jpg);
}

.project-7 {
    background-image: url(../images/project7.jpg);
}

.project-8 {
    background-image: url(../images/project8.jpg);
}



/*Why us section styling*/
.why-us {
    display: flex;
    align-items: center;
    margin: 5rem 25%;
}


.why-us--img {
    width: 25vw;
    height: auto;
    padding-right: 1rem;
}

.why-us div h6{
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: 800;
    color: var(--primary-color);
    text-transform: uppercase;
    padding-top: 1.5rem;
    margin-bottom: var(--bottom-margin);
}

.why-us div h5{
    font-size: 2rem;
    font-family: var(--font-family);
    font-weight: 800;
    color: var(--black-text);
    text-transform: uppercase;
    margin-bottom: var(--bottom-margin);
}

.why-us div p {
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--black-text);
    margin-bottom: 2.5rem;
}



/* Testimonials section styling*/
.testimonials {
    background-color: rgb(66, 66, 66);
}

.testimonials--title1 {
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--font-family);
    font-weight: 800;
    color: var(--primary-color);
    text-transform: uppercase;
    padding-top: 4rem;
    margin-bottom: var(--bottom-margin);
}

.testimonials--title2, .testimonials--worker-name {
    text-align: center;
    font-size: 2rem;
    font-family: var(--font-family);
    font-weight: 800;
    color: var(--white-text);
    text-transform: uppercase;
    margin-bottom: var(--bottom-margin);
}

.testimonials--container {
    display: flex;
    margin: 0rem 15%;
    padding-top: 2rem;
}

.box{
    border: 2px solid white;
    margin: 0 1rem;
    padding-bottom: 1.5rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.testimonials--text {
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--white-text);
    margin-bottom: 2.5rem;
}

.box img {
    margin: 0 30%;
    border-radius: 50%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.testimonials--worker-name {
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.testimonials--worker-job {
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--primary-color);
    text-align: center;
    font-family: var(--font-family);
    margin-bottom: 3.5rem;
}



/*News section styling*/
.news-container {
    display: flex;
    margin: 0 17rem;
    padding-bottom: 4rem;
}

.news-container--row {
    display: flex;
}

.news-container--card {
    margin: 0 0.7rem;
}

.news-container div img {
    width: 100%;
    margin: 0 1rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.news-container--title {
    font-size: 1.5rem;
    font-family: var(--font-family);
    color: var(--black-text);
    padding: 0 2rem;
    margin-top: 1rem;
    text-transform: uppercase;
}

.news-container--date {
    font-size: 1rem;
    font-family: var(--font-family);
    color: var(--black-text);
    font-weight: 500;
    padding: 0 2rem;
    margin-top: 1rem;
}

.news-container--text {
    font-size: 1rem;
    font-family: var(--font-family);
    color: var(--black-text);
    padding: 0 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.news-container--btn{
    text-decoration: underline;
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    text-transform: uppercase;
    color: var(--black-text);
    padding: 0.5rem 2rem;
}


.container {
    width: 100%;
    height: 100vh;
    margin-bottom: -2rem;
    background: rgb(66, 66, 66);
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

form h3 {
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-family);
    margin-bottom: 1.5rem;
    font-weight: 800;
}

form input, form textarea {
    border-radius: 6px;
    border: 0;
    margin: 0.5rem 0;
    padding: 1.2rem 0.5rem;
    outline: none;
    background: rgb(240, 240, 240);
    font-size: 1rem;
}

form button {
    font-size: 1rem;
    margin: 0.5rem 0;
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 6px;
    background-color: var(--primary-color);
    color: var(--white-text);
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    width: 50%;
    align-self: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

form button:hover {
    background-color: var(--secondary-color);
}


/*Footer styling*/
footer {
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}

.copy {
    font-size: 0.8rem;
    font-family:var(--font-family);
    color: var(--black-text);
}

.copy a {
    color: #4b0082;
}



































@media only screen and (max-width: 420px) {

    /*Navbar responsive styling*/
    .navbar{
        padding: 0.5rem 1rem;
    }

    .navbar--links ul {
        top: 3.5rem;
        left: -100%;
        position: fixed;
        height: 100vh;
        width: 100%;
        display: block;
        
        text-align: center;
        transition: all .4s;

        background-color: rgb(0, 0, 0, 0.85);
    }

    .navbar--links ul li {
        margin: 3rem;
    } 

    .navbar--links ul li a {
        font-size: 1.2rem;
        font-weight: 600;
        font-family: sans-serif;
    }

    .navbar--links ul li a:hover {
        color: var(--white-text);
    }

    .navbar--links ul li a:after {
        background-color: var(--white-text);
    }

    .navbar--links ul li a:hover::after {
        background-color: var(--white-text);
    }

    .navbar--links ul li a:active {
        border: 2px solid #fff;
        border-radius: 0.3rem;
        padding: 1rem 1.5rem;
        color: var(--white-text);
    }

    .navbar--links.show ul{
        left: 0;
    }

    .navbar--bars-btn{
        display: block;
    }



    /*Hero responsive styling*/
    .hero {
        top: 10%;
        padding: 0 1rem;
    }
    

    .hero p {
        margin: 1.3rem 0;
        width: 150%;
    }

    .hero--container-btns {
        display: flex;
        width: 90vw;
    }

    .hero--btn-left {
        font-size: 0.8rem;
        margin-right: 0.5rem;
        padding: 1rem;
    }
    
    .hero--btn-right {
        font-size: 0.8rem;
        padding: 1rem;
    }



    /*About-me responsive design*/
    .about-me {
        display: block;
    }

    .about-me div{
        margin: 0;
        width: 100%;
        max-width: 100vw;
    }

    .about-me h3 {
        font-size: 1.8rem; 
    }

    .about-me h4 {
        text-align: center;
        margin: 0;
        padding: 1rem;
        padding-bottom: 0.5rem;
    }

    .line{
        position: absolute;
        right: 40%;
        width: 20% !important;
    }

    .about-me h3 {
        text-align: center;
        padding: 0 0.5rem;
    }

    .about-me--slogan {
        text-align: center;
        padding: 0.5rem;
    }

    .about-me--p1, .about-me--p2 {
        margin-top: 1rem;
        padding: 0 1.5rem;
        text-align:justify;
    }

    .about-me--btn{
        position: absolute;
        right: 30%;
    }



    /*Image services adaptative styling*/
    .img-services {
        display: block;
        margin: 8rem 0;
        padding: 0;
    }

    .img-services--one, .img-services--two, .img-services--three{
        padding: 0;
        margin: 0 0;
        width: 100%;
        height: 100%;
        height: 50vh;
    }

    .img-services div h5 {
        margin-top: 0%;
        padding-top: 35%;
        text-align: center;
    }

    .line-across {
        max-width: 100%;
    }

    .img-services p {
        margin-top: 5%;
        text-align: center;
    }



    /*Best services responsive styling*/
    .best-services {
        margin-top: 70rem;
    }
    .best-services--container-rows {
        display: block;
        margin-top: 0rem;
    }

    .best-services--service-card {
        margin: 2.5rem 0;
    }



    /*Projects responsive styling*/
    .projects--container-row{
        display: block;
    }

    .project-1, .project-2, .project-3, .project-4, .project-5, .project-6,.project-7,.project-8 {
        width: 100%;
        height: 300px;
    }



    /*Why us responsive styling*/
    .why-us {
        align-items:center;
        margin: 0 1rem;
        padding: 7rem 0;
        padding-bottom: 10rem;
    }

    .why-us--img {
        display: none; 
    }

    .why-us div h5, .why-us div h6, .why-us div p {
        text-align: center;
    }
    


    /* Testimonials responsive styling */
    .testimonials--container {
        display: block;
    }

    .testimonials--worker-job {
        padding-bottom: 4rem;
    }

    .news-container {
        margin: 0;
        padding: 0;
    }

    .news-container--row{
        margin: 0;
        display: block;
    }
    .news-container--card{
        margin: 0;
        display: block;
    }

    .news-container div img {
        width: 100%;
        margin: 0;
    }

    .center {
        text-align: center;
        margin-bottom: var(--bottom-margin);
    }




    /**/
    form {
        margin: 0 1.5rem;
    }
}