/* Google Fonts Import */
/* DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap');
/* Satisfy */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/* Merriwether */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

/* Variables */
:root {
    /* Font */
    --family-title: 'Merriweather', sans-serif;
    --family-text: 'DM Sans', sans-serif;
    --family-satisfy: 'Satisfy', cursive;;
    --header: 6rem;
    --title: 2.5rem;
    --sub-title: 1.5rem;
    --text: 1.1rem;
    /* Spacing */
    --spacing-content: 4%;
    --spacing-large: 3rem;
    --spacing-normal: 2rem;
    --spacing-mobile: 1.5rem;
    --spacing-small: 1rem;
    --spacing-micro: 0.5rem;
    /* Colors */
    --black: #121212;
    --white: #fff;
    --orange: #ff5d00;
    --silver: #c0c0c0;
    --bronze: #b7a042;
    /* Transitions */
    --transitions-default: all 0.4s ease-in-out;
    --transitions-slow: all 0.6s ease-in-out;
    /* Shadows */
    --layered-shadow: 
    0 1px 1px hsl(0deg 0% 0% / 0.066),
    0 2px 2px hsl(0deg 0% 0% / 0.066),
    0 4px 4px hsl(0deg 0% 0% / 0.066),
    0 8px 8px hsl(0deg 0% 0% / 0.066),
    0 12px 12px hsl(0deg 0% 0% / 0.066);
}

/* HTML Reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    height: 100vh;
    background-color: var(--black);
    scroll-behavior: smooth;
    text-decoration: none;
}

/* Fade Dynamic Class */
.fade {
    opacity: 0;
    transform: translateY(-100%);
    transition: var(--transitions-slow);
}

strong {
    color: var(--bronze);
}

.menu-background {
    display: none;
}

.mobile {
    display: none;
}

/* Header */
/* Navbar Styling */
.nav {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    z-index: 100;
}

.nav-logo-cnt--img {
    height: 90px;
    width: 90px;
    -webkit-filter: drop-shadow(--layered-shadow);
  filter: drop-shadow(--layered-shadow);
  transition: var(--transitions-default);
}

.nav-logo-cnt--img:hover {
    transform: scale(1.06);
    transition: var(--transitions-default);
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.nav-container--link {
    position: relative;
    display: inline-block;
    font-family: var(--family-text);
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: var(--layered-shadow);
    background: rgb(183,160,66);
    background: radial-gradient(circle, rgba(198,176,81,1) 0%, rgba(231,209,122,1) 50%, rgba(218,193,90,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    margin: 0 1rem;
    transition: var(--transitions-default);
}

.nav-container--link:hover {
    font-family: var(--family-text);
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    background: rgb(183,160,66);
    background: radial-gradient(circle, rgba(198,176,81,1) 0%, rgba(231,209,122,1) 50%, rgba(218,193,90,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    margin: 0 1rem;
}

.nav-container--link::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -6px;
    height: 2px;
    background: var(--bronze);
    transform: scaleX(0);
    transition: var(--transitions-default);
    box-shadow: var(--layered-shadow);
}

.nav-container--link:hover::after {
    transform: scaleX(1);
}



/* Main */
/* Hero Section Styling */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("src/images/Hero-2.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    animation: banner 22s infinite linear;
    transition: var(--transition-default);
    box-shadow: var(--layered-shadow);
}

@keyframes banner {
    0% {
        background-image: url("src/images/Hero-2.jpg"); 
    }
    20% {
        background-image: url("src/images/Hero-2.jpg"); 
    }
    21% {
        background-image: url("src/images/Hero-4.jpg"); 
    }
    40% {
        background-image: url("src/images/Hero-4.jpg"); 
    }
    41% {
        background-image: url("src/images/Hero-6.jpg"); 
    }
    60% {
        background-image: url("src/images/Hero-6.jpg"); 
    }
    61% {
        background-image: url("src/images/Hero-7.jpg"); 
    }
    80% {
        background-image: url("src/images/Hero-7.jpg"); 
    }
    81% {
        background-image: url("src/images/Hero-8.jpg"); 
    }
    100% {
        background-image: url("src/images/Hero-8.jpg"); 
    }
}
.hero--text {
    font-family: var(--family-text);
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: var(--layered-shadow);
}

.hero--title {
    font-family: var(--family-title);
    font-weight: 800;
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    background: rgb(183,160,66);
    background: radial-gradient(circle, rgba(198,176,81,1) 0%, rgba(231,209,122,1) 50%, rgba(218,193,90,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: var(--layered-shadow);
    margin: 0.5rem 0;
}

.hero-btn-cnt {
    margin-top: 2rem;
    transition: var(--transitions-slow);
}

.hero-btn-cnt--link {
    font-family: var(--family-text);
    font-weight: 300;
    font-size: 1.3rem;
    text-align: center;
    padding: 0.5rem 1rem;
    background-color: var(--bronze);
    color: var(--white);
    text-shadow: var(--layered-shadow);
    text-decoration: none;
    box-shadow: var(--layered-shadow);
    transition: var(--transitions-slow);
}

.hero-btn-cnt:hover {
    transition: var(--transitions-slow);
    transform: scale(1.05);
}

.hero-btn-cnt--link:hover {
    transition: var(--transitions-slow);
    background-color: var(--silver);
    background: var(--silver);
    transform: scale(1.05);
    color: var(--white);
}

.hero--img {
    height: 80px;
    width: 80px;
    opacity: 0.9;
    margin-bottom: -11rem;
    transition: var(--transitions-slow);
}

.hero--img:hover {
    transform: scale(1.08);
    transition: var(--transitions-slow);
}



/* About Section Styling */
.about {
    height: 100vh;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about--img {
    height: 70vh;
    margin: 0 1.5rem;
    transition: var(--transitions-slow);
}

.about--img:hover {
    transform: scale(1.03);
    transition: var(--transitions-slow);
}

.about-cnt {
    width: 600px;
    margin: 0 1.5rem;
}

.about-cnt--sec {
    font-family: var(--family-text);
    font-weight: 800;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 1rem;
    padding-left: 0.3rem;
    text-shadow: var(--layered-shadow);
    border-left: 3px solid var(--bronze);
}

.about-cnt--title {
    font-family: var(--family-text);
    font-weight: 1000;
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: var(--layered-shadow);
    color: var(--black);
}

.about-cnt-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border-top: 1px solid #b7a042;
    border-bottom: 1px solid #b7a042;
    margin: 1rem 0;
}

.about-cnt-b {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-cnt-box--icon {
    width: 80px;
    height: 80px;
    margin-right: 0.5rem;
    transition: var(--transitions-slow);
}

.about-cnt-box--icon:hover {
    transform: scale(1.05);
    transition: var(--transitions-slow);
}

.about-cnt-box--text {
    font-family: var(--family-text);
    font-weight: 600;
    font-size: 1.3rem;

    color: var(--black);
}

.about-cnt--p {
    font-family: var(--family-text);
    font-weight: 300;
    font-size: var(--text);
    color: var(--black);
    margin-bottom: 1rem;
}

.ok {
    margin-bottom: 1.6rem;
}

.about-cnt-btn {
    margin-top: 1rem;
}

.about-cnt-btn--link {
    font-family: var(--family-text);
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--bronze);
    padding: 0.5rem 1rem;
    box-shadow: var(--layered-shadow);
    transition: var(--transitions-slow);
}

.about-cnt-btn--link:hover {
    color: var(--white);
    background-color: var(--silver);
    transition: var(--transitions-slow);
}



/* Bar Section Styling */
.bar {
    background-color: #000;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--layered-shadow);
}

.hwrap {
    width: 100%;
    overflow: hidden;
}

.hmove {
    display: flex;
    position: relative;
    top: 0;
    right: 0;
}

.hslide {
    width: 50%;
    flex-shrink: 0;
}

.hslide ul {
    display: flex;
    align-items: center;
}

.hslide ul li {
    font-size: 1.7rem;
    font-family: var(--family-text);
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: var(--bronze);
    margin: 0 3rem;
    transition: var(--transitions-default);
}

.hslide ul li:hover {
    transform: scale(1.05);
    transition: var(--transitions-default);
}

@keyframes slideh {
    0% { right: 0%; }
    8% { right: 100%; }
    16% { right: 200%;}
    24% { right: 300%;}
    32% { right: 400%;}
    41% { right: 500%;}
    49% { right: 600%;}
    56% { right: 700%;}
    68% { right: 800%;}
    79% { right: 900%;}
    88% { right: 1000%;}
    100% { right: 1100%;}
}

.hmove {
    animation: slideh linear 150s infinite;
}



/* Reviews Section Styling */
.services {
    width: 100%;
    height: 100vh;
    font-size: var(--text);
    background-size: cover;
    background-position: center;
    background-image: url("src/images/Services.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem var(--spacing-content);
    box-shadow: var(--layered-shadow);
}

.services-cnt--sec {
    font-family: var(--family-text);
    font-weight: 800;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 1rem;
    padding-left: 0.3rem;
    border-left: 3px solid var(--bronze);
}

.services-header--title {
    font-family: var(--family-text);
    font-weight: 1000;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: var(--layered-shadow);
}

.services-header--p {
    font-family: var(--family-text);
    font-weight: 300;
    font-size: var(--text);
    color: var(--white);
    text-align: center;
    text-shadow: var(--layered-shadow);
    margin-top: 1rem;
    margin-bottom: 2rem;

}

.services-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-cnt-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    background-color: var(--white);
    box-shadow: var(--layered-shadow);
    padding: 1.5rem;
    transition: var(--transitions-slow);
}

.services-cnt-box:hover {
    transform: scale(1.03);
    transition: var(--transitions-slow);
}

.services-cnt-box--icon {
    transition: var(--transitions-slow);
}

.services-cnt-box--icon:hover {
    transform: scale(1.05);
    transition: var(--transitions-slow);
}

.services-cnt-box--title {
    font-family: var(--family-text);
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--black);
    text-align: justify;
    margin: 1rem 0;
}

.services-cnt-box--p {
    font-family: var(--family-text);
    font-weight: 300;
    font-size: var(--text);
    color: var(--black);
    text-align: justify;
}



/* Projects Section Styling */
.projects {
    height: 100vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem var(--spacing-content);
}

.projects-header--title {
    font-family: var(--family-text);
    font-weight: 1000;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
    text-shadow: var(--layered-shadow);
}

.projects-header--p {
    font-family: var(--family-text);
    font-weight: 300;
    font-size: var(--text);
    color: var(--black);
    text-align: center;
    text-shadow: var(--layered-shadow);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.projects-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-cnt-card {
    width: 300px;
    height: 500px;
    font-size: var(--text);
    background-size: cover;
    background-position: center;
    background-image: url("src/images/Residential-p.jpg");
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0;
    margin: 0 1rem;
    box-shadow: var(--layered-shadow);
    transition: var(--transitions-slow);
}

.projects-cnt-card:hover {
    transform: scale(1.03);
    transition: var(--transitions-slow);
}

.comercial {
    background-image: url("src/images/Estacionamiento.jpg");

}

.gubernamental {
    background-image: url("src/images/Bridge.jpg");
}

.carreteras {
    background-image: url("src/images/Carreteras-p.jpg");
}

.projects-cnt-card--type {
    font-family: var(--family-text);
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--white);
    padding-left: 0.3rem;
    border-left: 2px solid var(--black);
    text-shadow: var(--layered-shadow);
}

.projects-cnt-card--p {
    font-family: var(--family-text);
    font-weight: 500;
    font-size: 1rem;
    color: var(--white);
    text-shadow: var(--layered-shadow);
    margin: 0.3rem 0;
}

.projects-btn {
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}

.projects-btn--link {
    font-family: var(--family-text);
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--black);
    padding: 0.5rem 0.8rem;
    transition: var(--transitions-slow);
}

.projects-btn--link:hover {
    color: var(--white);
    background-color: var(--silver);
    transition: var(--transitions-slow);
}

.projects-btn-cnt {
    margin-top: 3rem;
}

.projects-btn-cnt--link {
    font-family: var(--family-text);
    font-weight: 600;
    font-size: var(--text);
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--black);
    padding: 0.6rem 1rem;
    transition: var(--transitions-slow);
}

.projects-btn-cnt--link:hover {
    color: var(--white);
    background-color: var(--silver);
    transition: var(--transitions-slow);
}

.pj-bg {
    padding: 1rem;
    background-color: var(--bronze);
}



/* Numbers Section Styling */
.numbers {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    place-items: center;
    background-color: var(--bronze);
    padding-left: 5%;
    height: 30vh;
    box-shadow: var(--layered-shadow);
}

.numbers-cnt {
    background-color: var(--bronze);
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers-cnt--p {
    font-family: var(--family-text);
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--white);
    padding-right: 2rem;
}

.numbers-box {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    height: 30vh;
    background-color: rgb(244, 244, 244);
}

.numbers-box-sec--icon {
    width: 60px;
    height: 60px;
}

.numbers-box-sec--numbers {
    font-family: var(--family-text);
    font-weight: 800;
    font-size: 3.3rem;
    text-transform: uppercase;
    color: var(--black);
}

.numbers-box-sec--p {
    font-family: var(--family-text);
    font-weight: 600;
    font-size: var(--text);
    text-transform: uppercase;
    color: rgb(55, 55, 55);
    padding-left: 0.3rem;
    border-left: 2px solid var(--bronze);
}



/* Team Section Styling */
.team {
    width: 100%;
    height: 100vh;
    font-size: var(--text);
    background-size: cover;
    background-position: center;
    background-image: url("src/images/Team-cover.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem var(--spacing-content);
    box-shadow: var(--layered-shadow);
}

.team-header--title {
    font-family: var(--family-text);
    font-weight: 1000;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: var(--layered-shadow);
}

.team-header--p {
    font-family: var(--family-text);
    font-weight: 300;
    font-size: var(--text);
    color: var(--white);
    text-align: center;
    text-shadow: var(--layered-shadow);
    margin-top: 1rem;
    margin-bottom: 2rem;

}

.team-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-cnt-card {
    margin: 0 1rem;
    background-color: var(--white);
    box-shadow: var(--layered-shadow);
    padding-bottom: 0.5rem;
    transition: var(--transitions-slow);
}

.team-cnt-card:hover {
    transition: var(--transitions-slow);
    transform: scale(1.03);
}

.team-cnt-card--img {
    width: 280px;
    height: auto;
}

.team-cnt-card--name {
    font-family: var(--family-text);
    font-weight: 600;
    font-size: var(--text);
    color: var(--black);
    text-align: center;
    text-shadow: var(--layered-shadow);
    margin-top: 0.5rem;
}

.team-cnt-card--job {
    font-family: var(--family-text);
    font-weight: 400;
    font-size: var(--text);
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
    text-shadow: var(--layered-shadow);
    margin-bottom: 0.5rem;
}

.team-cnt-card-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-cnt-card--icon {
    width: 25px;
    padding: 0.6rem;
    background-color: rgb(243, 243, 243);
    border-radius: 50%;
    margin: 0 0.5rem;
    box-sizing: content-box;
    transition: var(--transitions-slow);
}

.team-cnt-card--icon:hover {
    transition: var(--transitions-slow);
    background-color: rgb(223, 221, 221);
}


.about-cnt--video {
    width: 70vh;
    box-shadow: var(--layered-shadow);
}

.god {
    margin-top: 1rem;
}

.devil {
    margin-bottom: 2rem;
}



/* Location Styling */
.location {
    width: 100%;
    padding: 4rem 0;
    padding-bottom: 5rem;
    background-size: cover;
    background-position: center;
    background-image: url("src/images/Location-cover.jpg");
    box-shadow: var(--layered-shadow);
    background-color: var(--white);
}

.location-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location-box--title {
    font-family: var(--family-text);
    font-size: 3rem;
    font-weight: 1000;
    color: var(--white);
    text-transform: uppercase;
    text-shadow: var(--layered-shadow);
    margin-bottom: 2rem;
    padding: 0 8%;
}

.location-container {
    display: flex;
    flex-direction: column;
}

iframe {
    width: 100%;
}

.location-container--p {
    font-family: var(--family-text);
    font-size: var(--text);
    font-weight: 300;
    color: var(--white);
    margin-bottom: 1rem;
    text-shadow: var(--layered-shadow);
    margin-top: 2rem;
    text-align: center;
}

.location-container-btn {
    
    text-align: center;
}

.location-container-btn--text {
    font-family: var(--family-text);
    font-size: var(--text);
    font-weight: 400;
    color: var(--white);
    background-color: var(--bronze);
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    transition: var(--transitions-slow);
    box-shadow: var(--layered-shadow);
}

.location-container-btn--text:hover {
    color: var(--white);
    background-color:var(--silver);
    transition: var(--transitions-slow);
}



form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: rgb(183, 160, 66);
    padding: 2rem 2.5rem;
    margin-left: 1rem;
    box-shadow: var(--layered-shadow);
    transition: var(--transitions-default);
}

form:hover {
    transform: scale(1.02);
    transition: var(--transitions-default);
}

.form--title {
    font-size: 2.2rem;
    font-family: var(--family-text);
    font-weight: 800;
    text-transform: uppercase;
    color: var(--white);
    margin: 0.5rem 0;
    transition: var(--transitions-default);
}

.cotizacion-form--line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0.5remrem 0;
    border-bottom: 2px solid var(--white);
    margin-bottom: 2rem
}

.form-cnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-cnt-box {
    display: flex;
    align-items: center;
}

.form-cnt--info {
    font-family: var(--family-text);
    font-size: var(--text);
    font-weight: 400;
    color: var(--white);
    transition: var(--transitions-slow);
    margin-bottom: 0.2rem;
}

input, textarea {
    font-family: var(--family-text);
    font-size: var(--text);
    width: 100%;
    margin: 0.7rem var(--spacing-tiny);
    margin-bottom: 0.8rem;
    padding: 2rem var(--spacing-tiny);
    padding-left: 0.5rem;
    outline: none;
    background: #fdfdfd;
    border: 1px solid #cacaca;
}

.space {
    margin-right: 0.5rem;
}

.spacex {
    margin-left: 0.5rem;
}

.cotizacion-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cotizacion--file {
    width: 100%;
    cursor: pointer;
    padding: 1rem;
}

.cotizacion--text {
    font-size: 0.7rem;
    font-family: var(--family-text);
    font-weight: 400;
    color: #000;
    margin-bottom: 0.4rem;
    text-align: center;
}

button {
    font-family: var(--family-text);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: var(--spacing-content);
    padding: 0.3rem 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: var(--bronze);
    color: var(--white);
    outline: none;
    cursor: pointer;
    width: 15%;
    align-self: flex-end;
    transition: var(--transitions-default);
}

button:hover {
    color: var(--silver);
    transform: scale(1.05);
    transition: var(--transitions-default);
}



/* Footer Section Styling */
footer {
    width: 100%;
    height: 45vh;
    padding: 3rem var(--spacing-content);
    padding-bottom: 4rem;
    background-size: cover;
    background-position: center;
    background-image: url("src/images/Footer-cover.jpg");
    box-shadow: var(--layered-shadow);
}

.top {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.footer-brand-cnt {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -1rem;
}


.footer-logo {
    width: 50px;
}

.footer-brand--p {
    font-family: var(--family-text);
    font-size: var(--text);
    font-weight: 300;
    color: var(--white);
    text-shadow: var(--layered-shadow);
    text-align: center;
}

.footer-socials-cnt {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-socials-cnt--title {
    font-family: var(--family-title);
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--bronze);
    text-transform: uppercase;
    text-shadow: var(--layered-shadow);
    margin-bottom: 1rem;
}

.footer-brand--icon {
    height: 50px;
    transition: var(--transitions-slow);
    filter: drop-shadow(--layered-shadow);
}

.footer-brand--icon:hover {
    transform: scale(1.1);
    transition: var(--transitions-slow);
}

.footer--line {
    border-bottom: 1.5px solid var(--white);
    width: 90%;
    margin: 0 auto;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
}

.footer-links-cnt {
    display: flex; 
    width: 100%;
    justify-content: center;
}

.footer-link {
    font-family: var(--family-text);
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    text-transform: uppercase;
    text-shadow: var(--layered-shadow);
    margin: 0 1rem;
    margin-bottom: 0.5rem;
    transition: var(--transitions-slow);
}

.footer-link:hover {
    color: var(--bronze);
    transition: var(--transitions-slow);

    transform: translateY(20%);
}

.footer-copy--text {
    font-family: var(--family-text);
    font-size: 0.9rem;
    font-weight: 300;
    text-decoration: none;
    color: var(--white);
    text-shadow: var(--layered-shadow);
    text-align: center;
    margin-top: 0.6rem;
}


















/* Mobile Responsive Styling */
@media only screen and (min-width: 220px) and (max-width: 1000px) {

    .desktop {
        display: none;
    }

    .mobile {
        display:block;
    }

    /* Header */
    /* Navbar Styling */
    .nav {
        position: fixed;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding-top: 1rem;
        z-index: 100;
    }

    .nav-logo-cnt--img {
        height: 70px;
        width: 70px;
        -webkit-filter: drop-shadow(--layered-shadow);
    filter: drop-shadow(--layered-shadow);
    transition: var(--transitions-default);
    margin-left: 1rem;
    margin-top: 0.5rem;
    }

    .nav-logo-cnt--img:hover {
        transform: scale(1.06);
        transition: var(--transitions-default);
    }

    .nav-container {
        overflow: hidden;
        width: 100%;
        height: 101%;
        display: flex;
        top: -1%;
        position: fixed;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        background-color: rgb(0, 0, 0, 0.88);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        z-index: 100;
        transition: var(--transitions-slow);
        transform:translateX(105%);
    }

    .nav-container.on{
        transform:translateX(0);
        z-index: 100;
        transition: var(--transitions-slow);
    }

    .nav-container--link {
        position: relative;
        display: inline-block;
        font-family: var(--family-text);
        font-weight: 500;
        font-size: 2rem;
        text-transform: uppercase;
        text-shadow: var(--layered-shadow);
        background: rgb(183,160,66);
        background: radial-gradient(circle, rgba(198,176,81,1) 0%, rgba(231,209,122,1) 50%, rgba(218,193,90,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
        margin: 0 1rem;
        margin-left: 2rem;
        transition: var(--transitions-default);
    }

    .nav-container--link:hover {
        font-family: var(--family-text);
        font-weight: 500;
        font-size: 1.2rem;
        text-transform: uppercase;
        background: rgb(183,160,66);
        background: radial-gradient(circle, rgba(198,176,81,1) 0%, rgba(231,209,122,1) 50%, rgba(218,193,90,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
        margin: 0 1rem;
    }

    .nav-container--link::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -6px;
        height: 2px;
        background: var(--bronze);
        transform: scaleX(0);
        transition: var(--transitions-default);
        box-shadow: var(--layered-shadow);
    }

    .nav-container--link:hover::after {
        transform: scaleX(1);
    }

    





    /* Menu Button */
    .nav-menu-cnt {
        display: flex;
    }

    .nav-menu-cnt--btn {
        font-family: var(--family-text);
        font-size: var(--text);
        color: var(--black);
        background-color: var(--golden);
        padding: 0.5rem 1rem;
        border-radius: 20px;
        text-decoration: none;
        transition: var(--transitions-slow);
        box-shadow: var(--layered-shadow);
    }

    .nav-menu-cnt--btn:hover {
        background-color: #749d89;
        color: white;
        transition: var(--transitions-slow);
    }

    .menu-background {
        display: flex;
        
    }

    /* Hamburguer Menu */

    .nav-menu {
        padding: 1.5rem 0.6rem;
        border-radius: 6px;
        position: fixed;
        display: flex;
        right: 4.2%;
        top: 3.5%;
        align-items: center;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        transform: scale(1);
        z-index: 101;
        
    }

    .nav-menu-burger {
        width: 40px;
        height: 7px;
        justify-content: center;
        background-color: var(--bronze);
        border-radius: 5px;
        box-shadow: var(--layered-shadow);
        transition: all 0.5s ease-in-out
    }

    .nav-menu-burger::before, .nav-menu-burger::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 7px;
        background-color: var(--bronze);
        border-radius: 5px;
        box-shadow: var(--layered-shadow);
        transition: all 0.5s ease-in-out;
    }

    .nav-menu-burger::before {
        transform: translateY(-12px);
    }

    .nav-menu-burger::after {
        transform: translateY(12px);
    }

    .nav-menu.open .nav-menu-burger {
        transform: translate(-50px);
        background: transparent;
        box-shadow: none;
    }

    .nav-menu.open .nav-menu-burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }
        
    .nav-menu.open .nav-menu-burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }



    /* Main */
    /* Hero Section Styling */
    .hero {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("src/images/Hero-2.jpg"); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        animation: banner 22s infinite linear;
        transition: var(--transition-default);
        box-shadow: var(--layered-shadow);
    }

    @keyframes banner {
        0% {
            background-image: url("src/images/Hero-2.jpg"); 
        }
        20% {
            background-image: url("src/images/Hero-2.jpg"); 
        }
        21% {
            background-image: url("src/images/Hero-4.jpg"); 
        }
        40% {
            background-image: url("src/images/Hero-4.jpg"); 
        }
        41% {
            background-image: url("src/images/Hero-6.jpg"); 
        }
        60% {
            background-image: url("src/images/Hero-6.jpg"); 
        }
        61% {
            background-image: url("src/images/Hero-7.jpg"); 
        }
        80% {
            background-image: url("src/images/Hero-7.jpg"); 
        }
        81% {
            background-image: url("src/images/Hero-8.jpg"); 
        }
        100% {
            background-image: url("src/images/Hero-8.jpg"); 
        }
    }
    .hero--text {
        font-family: var(--family-text);
        font-weight: 500;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: var(--white);
        text-shadow: var(--layered-shadow);
        text-align: center;
    }

    .hero--title {
        font-family: var(--family-title);
        font-weight: 800;
        font-size: 3.6rem;
        text-align: center;
        text-transform: uppercase;
        background: rgb(183,160,66);
        background: radial-gradient(circle, rgba(198,176,81,1) 0%, rgba(231,209,122,1) 50%, rgba(218,193,90,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: var(--layered-shadow);
        margin: 0.5rem 0;
    }

    .hero-btn-cnt {
        margin-top: 2rem;
        transition: var(--transitions-slow);
    }

    .hero-btn-cnt--link {
        font-family: var(--family-text);
        font-weight: 300;
        font-size: 1.3rem;
        text-align: center;
        padding: 0.5rem 1rem;
        background-color: var(--bronze);
        color: var(--white);
        text-shadow: var(--layered-shadow);
        text-decoration: none;
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-slow);
    }

    .hero-btn-cnt:hover {
        transition: var(--transitions-slow);
        transform: scale(1.05);
    }

    .hero-btn-cnt--link:hover {
        transition: var(--transitions-slow);
        background-color: var(--silver);
        background: var(--silver);
        transform: scale(1.05);
        color: var(--white);
    }

    .hero--img {
        height: 80px;
        width: 80px;
        opacity: 0.9;
        margin-bottom: -11rem;
        transition: var(--transitions-slow);
    }

    .hero--img:hover {
        transform: scale(1.08);
        transition: var(--transitions-slow);
    }



    /* About Section Styling */
    .about {
        height: auto;
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 2rem;
    }

    .about--img {
        display: none;
        width: 100%;
        height: auto;
        margin: 0 1.5rem;
        transition: var(--transitions-slow);
    }

    .about--img:hover {
        transform: scale(1.03);
        transition: var(--transitions-slow);
    }

    .about-cnt {
        width: 100%;
        margin: 0 1.5rem;
    }

    .about-cnt--sec {
        font-family: var(--family-text);
        font-weight: 800;
        font-size: 0.8rem;
        text-transform: uppercase;
        color: var(--black);
        margin-bottom: 1rem;
        padding-left: 0.3rem;
        text-shadow: var(--layered-shadow);
        border-left: 3px solid var(--bronze);
    }

    .about-cnt--title {
        font-family: var(--family-text);
        font-weight: 1000;
        font-size: 1.8rem;
        text-transform: uppercase;
        text-shadow: var(--layered-shadow);
        color: var(--black);
    }

    .about-cnt-box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        border-top: 1px solid #b7a042;
        border-bottom: 1px solid #b7a042;
        margin: 1rem 0;
    }

    .about-cnt-b {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-cnt-box--icon {
        width: 60px;
        height: 60px;
        margin-right: 0;
        transition: var(--transitions-slow);
    }

    .about-cnt-box--icon:hover {
        transform: scale(1.05);
        transition: var(--transitions-slow);
    }

    .about-cnt-box--text {
        font-family: var(--family-text);
        font-weight: 600;
        font-size: 1rem;
        text-align: center;
        color: var(--black);
    }

    .about-cnt--p {
        font-family: var(--family-text);
        font-weight: 300;
        font-size: 1rem;
        color: var(--black);
        margin-bottom: 1rem;
    }

    .ok {
        margin-bottom: 1.6rem;
    }

    .about-cnt-btn {
        margin-top: 1rem;
    }

    .about-cnt-btn--link {
        font-family: var(--family-text);
        font-weight: 600;
        font-size: 1rem;
        text-transform: uppercase;
        color: var(--white);
        background-color: var(--bronze);
        padding: 0.5rem 1rem;
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-slow);
    }

    .about-cnt-btn--link:hover {
        color: var(--white);
        background-color: var(--silver);
        transition: var(--transitions-slow);
    }



    /* Bar Section Styling */
    .bar {
        background-color: #000;
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: var(--layered-shadow);
    }

    .hwrap {
        width: 100%;
        overflow: hidden;
    }

    .hmove {
        display: flex;
        position: relative;
        top: 0;
        right: 0;
    }

    .hslide {
        width: 120%;
        flex-shrink: 0;
    }

    .hslide ul {
        display: flex;
        align-items: center;
    }

    .hslide ul li {
        font-size: 1.3rem;
        font-family: var(--family-text);
        font-weight: 300;
        line-height: 1.4;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        color: var(--bronze);
        margin: 0 2rem;
        transition: var(--transitions-default);
    }

    .hslide ul li:hover {
        transform: scale(1.05);
        transition: var(--transitions-default);
    }

    @keyframes slideh {
        0% { right: 0%; }
        8% { right: 100%; }
        16% { right: 200%;}
        24% { right: 300%;}
        32% { right: 400%;}
        41% { right: 500%;}
        49% { right: 600%;}
        56% { right: 700%;}
        68% { right: 800%;}
        79% { right: 900%;}
        88% { right: 1000%;}
        100% { right: 1100%;}
    }

    .hmove {
        animation: slideh linear 150s infinite;
    }



    /* Reviews Section Styling */
    .services {
        width: 100%;
        height: auto;
        font-size: var(--text);
        background-size: cover;
        background-position: center;
        background-image: url("src/images/Services.jpg");
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 2rem;
        box-shadow: var(--layered-shadow);
    }

    .services-cnt--sec {
        font-family: var(--family-text);
        font-weight: 800;
        font-size: 0.8rem;
        text-transform: uppercase;
        color: var(--white);
        margin-bottom: 1rem;
        padding-left: 0.3rem;
        border-left: 3px solid var(--bronze);
    }

    .services-header--title {
        font-family: var(--family-text);
        font-weight: 1000;
        font-size: 1.8rem;
        text-transform: uppercase;
        color: var(--white);
        text-shadow: var(--layered-shadow);
    }

    .services-header--p {
        font-family: var(--family-text);
        font-weight: 300;
        font-size: 1rem;
        color: var(--white);
        text-align: center;
        text-align: justify;
        text-shadow: var(--layered-shadow);
        margin-top: 1rem;
        margin-bottom: 2rem;

    }

    .services-cnt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .services-cnt-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem 1rem;
        background-color: var(--white);
        box-shadow: var(--layered-shadow);
        padding: 1.5rem;
        transition: var(--transitions-slow);
    }

    .services-cnt-box:hover {
        transform: scale(1.03);
        transition: var(--transitions-slow);
    }

    .services-cnt-box--icon {
        transition: var(--transitions-slow);
    }

    .services-cnt-box--icon:hover {
        transform: scale(1.05);
        transition: var(--transitions-slow);
    }

    .services-cnt-box--title {
        font-family: var(--family-text);
        font-weight: 500;
        font-size: 1.1rem;
        color: var(--black);
        text-align: justify;
        margin: 1rem 0;
    }

    .services-cnt-box--p {
        font-family: var(--family-text);
        font-weight: 300;
        font-size: 1rem;
        color: var(--black);
        text-align: justify;
    }



    /* Projects Section Styling */
    .projects {
        height: auto;
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 2rem;
    }

    .projects-header--title {
        font-family: var(--family-text);
        font-weight: 1000;
        font-size: 1.8rem;
        text-align: center;
        text-transform: uppercase;
        color: var(--black);
        text-shadow: var(--layered-shadow);
    }

    .projects-header--p {
        font-family: var(--family-text);
        font-weight: 300;
        font-size: 1rem;
        color: var(--black);
        text-align: justify;
        text-shadow: var(--layered-shadow);
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .projects-cnt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projects-cnt-card {
        width: 100%;
        height: 60vh;
        font-size: var(--text);
        background-size: cover;
        background-position: center;
        background-image: url("src/images/Residential-p.jpg");
        background-repeat: no-repeat;
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 1rem;
        margin: 1rem 1rem;
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-slow);
    }

    .projects-cnt-card:hover {
        transform: scale(1.03);
        transition: var(--transitions-slow);
    }

    .comercial {
        background-image: url("src/images/Comercial-p.jpg");

    }

    .gubernamental {
        background-image: url("src/images/Gubernamental-p.jpg");
    }

    .carreteras {
        background-image: url("src/images/Carreteras-p.jpg");
    }

    .projects-cnt-card--type {
        font-family: var(--family-text);
        font-weight: 500;
        font-size: 0.9rem;
        color: var(--white);
        padding-left: 0.3rem;
        border-left: 2px solid var(--bronze);
        text-shadow: var(--layered-shadow);
    }

    .projects-cnt-card--p {
        font-family: var(--family-text);
        font-weight: 500;
        font-size: 1.2rem;
        color: var(--white);
        text-shadow: var(--layered-shadow);
        margin: 0.3rem 0;
    }

    .projects-btn {
        margin-top: 0.8rem;
        margin-bottom: 0.5rem;
    }

    .projects-btn--link {
        font-family: var(--family-text);
        font-weight: 600;
        font-size: 0.9rem;
        text-transform: uppercase;
        color: var(--white);
        background-color: var(--bronze);
        padding: 0.5rem 0.8rem;
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-slow);
    }

    .projects-btn--link:hover {
        color: var(--white);
        background-color: var(--silver);
        transition: var(--transitions-slow);
    }

    .projects-btn-cnt {
        margin-top: 3rem;
    }

    .projects-btn-cnt--link {
        font-family: var(--family-text);
        font-weight: 600;
        font-size: var(--text);
        text-transform: uppercase;
        color: var(--white);
        background-color: var(--black);
        padding: 0.6rem 1rem;
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-slow);
    }

    .projects-btn-cnt--link:hover {
        color: var(--white);
        background-color: var(--silver);
        transition: var(--transitions-slow);
    }



    /* Numbers Section Styling */
    .numbers {
        width: 100%;
        display: none;
    }


    /* Team Section Styling */
    .team {
        width: 100%;
        height: auto;
        font-size: var(--text);
        background-size: cover;
        background-position: center;
        background-image: url("src/images/Team-cover.jpg");
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 2rem;
        box-shadow: var(--layered-shadow);
    }

    .team-header--title {
        font-family: var(--family-text);
        font-weight: 1000;
        font-size: 1.8rem;
        text-align: center;
        text-transform: uppercase;
        color: var(--white);
        text-shadow: var(--layered-shadow);
    }

    .team-header--p {
        font-family: var(--family-text);
        font-weight: 300;
        font-size: var(--text);
        color: var(--white);
        text-align: justify;
        text-shadow: var(--layered-shadow);
        margin-top: 1rem;
        margin-bottom: 2rem;

    }

    .team-cnt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .team-cnt-card {
        margin: 1rem 1rem;
        background-color: var(--white);
        box-shadow: var(--layered-shadow);
        padding-bottom: 0.5rem;
        transition: var(--transitions-slow);
    }

    .team-cnt-card:hover {
        transition: var(--transitions-slow);
        transform: scale(1.03);
    }

    .team-cnt-card--img {
        width: 280px;
        height: auto;
    }

    .team-cnt-card--name {
        font-family: var(--family-text);
        font-weight: 600;
        font-size: var(--text);
        color: var(--black);
        text-align: center;
        text-shadow: var(--layered-shadow);
        margin-top: 0.5rem;
    }

    .team-cnt-card--job {
        font-family: var(--family-text);
        font-weight: 400;
        font-size: var(--text);
        text-transform: uppercase;
        color: var(--black);
        text-align: center;
        text-shadow: var(--layered-shadow);
        margin-bottom: 0.5rem;
    }

    .team-cnt-card-holder {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .team-cnt-card--icon {
        width: 25px;
        padding: 0.6rem;
        background-color: rgb(243, 243, 243);
        border-radius: 50%;
        margin: 0 0.5rem;
        box-sizing: content-box;
        transition: var(--transitions-slow);
    }

    .team-cnt-card--icon:hover {
        transition: var(--transitions-slow);
        background-color: rgb(223, 221, 221);
    }


    .about-cnt--video {
        width: 100%;
        height: auto;
        box-shadow: var(--layered-shadow);
        margin-top: 3rem;
    }

    .god {
        margin-top: 1rem;
    }

    .devil {
        margin-bottom: 2rem;
    }



    /* Location Styling */
    .location {
        width: 100%;
        padding: 4rem 0;
        padding-bottom: 5rem;
        background-size: cover;
        background-position: center;
        background-image: url("src/images/Location-cover.jpg");
        box-shadow: var(--layered-shadow);
        background-color: var(--white);
    }

    .location-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .location-box--title {
        font-family: var(--family-text);
        font-size: 1.8rem;
        font-weight: 1000;
        color: var(--white);
        text-transform: uppercase;
        text-shadow: var(--layered-shadow);
        margin-bottom: 2rem;
        padding: 0 8%;
    }

    .location-container {
        display: flex;
        flex-direction: column;
    }

    iframe {
        width: 100%;
    }

    .location-container--p {
        font-family: var(--family-text);
        font-size: 1rem;
        font-weight: 300;
        color: var(--white);
        margin-bottom: 1rem;
        text-shadow: var(--layered-shadow);
        margin-top: 2rem;
        text-align: center;
    }

    .location-container-btn {
        
        text-align: center;
    }

    .location-container-btn--text {
        font-family: var(--family-text);
        font-size: 1rem;
        font-weight: 400;
        color: var(--white);
        background-color: var(--bronze);
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        text-align: center;
        transition: var(--transitions-slow);
        box-shadow: var(--layered-shadow);
    }

    .location-container-btn--text:hover {
        color: var(--white);
        background-color:var(--silver);
        transition: var(--transitions-slow);
    }



    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        background-color: rgb(183, 160, 66);
        padding: 1rem 1.5rem;
        margin-left: 0;
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-default);
    }

    form:hover {
        transform: scale(1.02);
        transition: var(--transitions-default);
    }

    .form--title {
        font-size: 1.6rem;
        font-family: var(--family-text);
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        color: var(--white);
        margin: 0.5rem 0;
        transition: var(--transitions-default);
    }

    .cotizacion-form--line {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0.5remrem 0;
        border-bottom: 2px solid var(--white);
        margin-bottom: 2rem
    }

    .form-cnt {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form-cnt-box {
        display: flex;
        align-items: center;
    }

    .form-cnt--info {
        font-family: var(--family-text);
        font-size: var(--text);
        font-weight: 400;
        color: var(--white);
        transition: var(--transitions-slow);
        margin-bottom: 0.2rem;
    }

    input, textarea {
        font-family: var(--family-text);
        font-size: var(--text);
        width: 100%;
        margin: 0.7rem var(--spacing-tiny);
        margin-bottom: 0.5rem;
        padding: 2rem var(--spacing-tiny);
        padding-left: 0.5rem;
        outline: none;
        background: #fdfdfd;
        border: 1px solid #cacaca;
    }

    .space {
        margin-right: 0.5rem;
    }

    .spacex {
        margin-left: 0.5rem;
    }

    .cotizacion-form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cotizacion--file {
        width: 100%;
        cursor: pointer;
        padding: 1rem;
    }

    .cotizacion--text {
        font-size: 0.7rem;
        font-family: var(--family-text);
        font-weight: 400;
        color: #000;
        margin-bottom: 0.4rem;
        text-align: center;
    }

    button {
        font-family: var(--family-text);
        font-size: 1.3rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-right: var(--spacing-content);
        padding: 0.3rem 0rem;
        border: none;
        border-radius: 10px;
        background-color: var(--bronze);
        color: var(--white);
        outline: none;
        cursor: pointer;
        width: auto;
        align-self: flex-end;
        transition: var(--transitions-default);
    }

    button:hover {
        color: var(--silver);
        transform: scale(1.05);
        transition: var(--transitions-default);
    }



    /* Footer Section Styling */
    footer {
        width: 100%;
        height: auto;
        padding: 3rem var(--spacing-content);
        padding-bottom: 3rem;
        background-size: cover;
        background-position: center;
        background-image: url("src/images/Footer-cover.jpg");
        box-shadow: var(--layered-shadow);
    }

    .top {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .footer-brand-cnt {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: -1rem;
    }


    .footer-logo {
        width: 50px;
    }

    .footer-brand--p {
        font-family: var(--family-text);
        font-size: var(--text);
        font-weight: 300;
        color: var(--white);
        text-shadow: var(--layered-shadow);
        text-decoration: none;
        text-align: center;
    }

    .footer-socials-cnt {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-socials-cnt--title {
        font-family: var(--family-title);
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--bronze);
        text-transform: uppercase;
        text-shadow: var(--layered-shadow);
        margin-bottom: 1rem;
    }

    .footer-brand--icon {
        height: 50px;
        transition: var(--transitions-slow);
        filter: drop-shadow(--layered-shadow);
    }

    .footer-brand--icon:hover {
        transform: scale(1.1);
        transition: var(--transitions-slow);
    }

    .footer--line {
        border-bottom: 1.5px solid var(--white);
        width: 90%;
        margin: 0 auto;
        margin-top: 3.5rem;
        margin-bottom: 1.5rem;
    }

    .footer-links-cnt {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .footer-link {
        font-family: var(--family-text);
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--white);
        text-transform: uppercase;
        text-shadow: var(--layered-shadow);
        margin: 0 1rem;
        margin-bottom: 0.5rem;
        transition: var(--transitions-slow);
    }

    .footer-link:hover {
        color: var(--bronze);
        transition: var(--transitions-slow);

        transform: translateY(20%);
    }

    .footer-copy--text {
        font-family: var(--family-text);
        font-size: 0.9rem;
        font-weight: 300;
        text-decoration: none;
        color: var(--white);
        text-shadow: var(--layered-shadow);
        text-align: center;
        margin-top: 0.6rem;
    }
}


