/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Normalize the whole page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}
a {
    text-decoration: none;
}
/* Main page */
.main {
    max-width: 100%;
    height: 100vh;
    background: url(Images/background.jpg);
    background-size:cover;
}
/* Navigation bar */
.nav-bar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    z-index: 9;
}
.nav-bar img{
    max-height: 80px;
}
.nav-bar ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
.nav-bar ul li a {
    color: #1d1d24;
    position: relative;
    padding: 5px 0;
}
.nav-bar ul li a:hover {
    color: #06b006;
}
.nav-bar ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(
        120deg,
        #20d420 10.69%,
        #6eb76e 50.19%,
        rgb(6, 176, 6) 69.69%
    );
    transition: 0.3s;
    bottom: 0;
}
.nav-bar ul li a:hover:after {
    width: 100%;
}
/* Resume button on nav bar */
.button, .button-resume {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    background-size: 152% 100%;
    background: linear-gradient(
        120deg,
        #20d420 10.69%,
        #6eb76e 50.19%,
        #06b006 69.69%
    );
    border: 2px solid linear-gradient(
        120deg,
        #20d420 10.69%,
        #6eb76e 50.19%,
        #06b006 69.69%);
}
.button:hover, .button-resume:hover {
    background: transparent;
    border: 2px solid #06b006;
    color: #06b006;
}
/* Hamburguer button display:none */
.hamburguer{
    display: none;
}
/* Content division */
.content {
    position: absolute;
    top: 20%;
    margin-left: 115px;
}
.content .title {
    color: #0a0a0a;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 15px;
    background: linear-gradient(
        120deg,
        green 10.69%,
        #6eb76e 50.19%,
        #20d420 69.69%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.content h1{
    color: #1f1f25;
    font-size: 75px;
    font-weight: 1000;
    line-height: 90px;
    text-transform: inherit;
    width: 77%;
}
.content h1 span {
    color: olive;
    background: linear-gradient(
        120deg,
        #20d420 10.69%,
        #6eb76e 50.19%,
        rgb(6, 176, 6) 69.69%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.content p {
    width: 55%;
    color: #202020;
    margin-top: 25px;
    margin-bottom: 30px;
}

/* Media screen for phones  */
@media only screen and (max-width: 450px){
    .nav-bar {
        width: 100%;
        height: 5%;
        position: absolute;
        align-items:center;
        justify-content: space-between;
        background: linear-gradient(
            120deg,
            green 10.69%,
            #6eb76e 50.19%,
            #20d420 69.69%
        );;
        padding: 0px;
    }
    .nav-bar img {
        max-height: 40px;
    }
    .nav-bar ul li a {
        color: #fff;
    }
    .nav-bar ul li a:hover {
        color: #0a0a0a;
    }
    .nav-bar ul li a:after {
        background: #0a0a0a;
    }
    /* Nav bar hide as default*/
    .nav-ul {
        display: none;
        width: 100%;
        text-align: center;
        flex-direction: column;
        background: linear-gradient(
            120deg,
            green 10.69%,
            #6eb76e 50.19%,
            #20d420 69.69%
        );
        opacity: 0.85;
    }
    .nav-ul li a{ 
        color: #fff;
    }
    /* Script to show nav bar on button click */
    .nav-ul.show{
        display: flex;
    }
    /* Resume button doesn't show on phone devices */
    .button-resume{
        display: none; 
    }
    /* Hamburguer button configuration */
    .hamburguer {
        background-color: transparent;
        border: 0;
        color: #fff;
        cursor: pointer; 
        justify-content: right;
        padding-right: 10px;
        display: flex;
    }
    .hamburguer:focus{
        outline: none;
    }
    /* Content adaptation for phone devices */
    .content {
        top: 10%;
        margin: 0px;
    }
    .content .title {
        width: 100%;
        text-align: center; 
    }
    .content h1{
        font-size: 40px;
        width: 100%;
        text-align: center;
    }
    .content h1 span {
        font-size: 40px;
        width: 100%;
        text-align: center;
    }
    .content p {
        width: 100%;
        font-size: 15px;
        color: #202020;
        margin-top: 0px;
        margin-bottom: 30px;
        text-align: center;
        padding: 0 50px;
    }
    /* CV button adapatation */
    .button{
    display:grid;
    margin: 30px 60px;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    }
}


@media only screen and (min-width: 900px){
    .icon {
        display: none;
    }
}