.nosotros-hero {
    width: 100%;
    height: 50vh;
    padding: 8rem var(--spacing-content);
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url("../..//images/Nosotros-cover-1.jpg");
    transition: var(--transitions-slow);
    box-shadow: var(--layered-shadow);
}

.nosotros-hero--title {
    font-family: var(--family-title);
    font-size: 6rem;
    font-weight: 600;
    color: var(--bronze);
    text-transform: uppercase;
    text-shadow: var(--layered-shadow);
}


.opa {
    border-left: 3px solid var(--black);
}

.gallery {
    width: 100%;
    background-color: var(--bronze);
    box-shadow: var(--layered-shadow);
    padding: 3rem var(--spacing-content);
}

.gallery-cnt {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

.gallery-cnt--img {
    width: 100%;
    transition: var(--transitions-slow);
    box-shadow: var(--layered-shadow);

}

.gallery-cnt--img:hover {
    transform: scale(1.03);
    transition: var(--transitions-slow)
}



.nosotros-equipo {
    background-color: var(--white);
    padding: 3rem var(--spacing-content);;
    height: auto;
}

.team-header--title {
    font-family: var(--family-text);
    font-weight: 1000;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
    text-shadow: var(--layered-shadow);
}

.team-header--p {
    font-family: var(--family-text);
    font-weight: 300;
    font-size: var(--text);
    color: var(--black);
    text-align: center;
    text-shadow: var(--layered-shadow);
    margin-top: 1rem;
    margin-bottom: 2rem;

}

.nosotros-equipo-cnt {
    display: flex;
    flex-direction: column;
}

.nosotros-equipo-cnt-card {
    width: 100%;
    background-color: var(--bronze);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    box-shadow: var(--layered-shadow);
}

.nosotros-equipo-cnt-card--img {
    height: 50vh;
    box-shadow: var(--layered-shadow);
}

.nosotros-equipo-cnt-card--name {
    font-family: var(--family-text);
    font-weight: 800;
    font-size: 1.8rem;
    color: var(--black);
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

.nosotros-equipo-cnt-card--p {
    font-family: var(--family-text);
    font-weight: 300;
    font-size: var(--text);
    color: var(--black);
    margin-bottom: 0.5rem;
}

.nosotros-btn {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.nosotros-btn--link {
    font-family: var(--family-text);
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--black);
    padding: 0.5rem 0.8rem;
    box-shadow: var(--layered-shadow);
    transition: var(--transitions-slow);
}

.nosotros-btn--link:hover {
    color: var(--black);
    background-color: var(--silver);
    transition: var(--transitions-slow);
}

.gallery-cnt-card-box {
    padding: 2rem;
}

.wallpaper {
    padding: 0 var(--spacing-content);
    background-color: var(--white);
    margin-top: -1rem;
    padding-bottom: 3.5rem;
}

.wallpaper--img {
    width: 100%;
}









/* Mobile Responsive Styling */
@media only screen and (min-width: 220px) and (max-width: 1000px) {
    .nosotros-hero {
        width: 100%;
        height: 30vh;
        padding: 5rem var(--spacing-content);
        padding-bottom: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-image: url("../..//images/Nosotros-cover-1.jpg");
        transition: var(--transitions-slow);
        box-shadow: var(--layered-shadow);
    }
    
    .nosotros-hero--title {
        font-family: var(--family-title);
        font-size: 3.6rem;
        font-weight: 600;
        margin-top: 3.5rem;
        color: var(--bronze);
        text-transform: uppercase;
        text-shadow: var(--layered-shadow);
    }
    
    
    .opa {
        border-left: 3px solid var(--black);
    }
    
    .gallery {
        width: 100%;
        background-color: var(--bronze);
        box-shadow: var(--layered-shadow);
        padding: 3rem 2rem;
    }
    
    .gallery-cnt {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    
    .gallery-cnt--img {
        width: 100%;
        transition: var(--transitions-slow);
        box-shadow: var(--layered-shadow);
    
    }
    
    .gallery-cnt--img:hover {
        transform: scale(1.03);
        transition: var(--transitions-slow)
    }
    
    
    
    .nosotros-equipo {
        background-color: var(--white);
        padding: 3rem 2rem;
        height: auto;
    }
    
    .team-header--title {
        font-family: var(--family-text);
        font-weight: 1000;
        font-size: 1.8rem;
        text-align: center;
        text-transform: uppercase;
        color: var(--black);
        text-shadow: var(--layered-shadow);
    }
    
    .team-header--p {
        font-family: var(--family-text);
        font-weight: 300;
        font-size: 1rem;
        color: var(--black);
        text-align: justify;
        text-shadow: var(--layered-shadow);
        margin-top: 1rem;
        margin-bottom: 2rem;
    
    }
    
    .nosotros-equipo-cnt {
        display: flex;
        flex-direction: column;
    }
    
    .nosotros-equipo-cnt-card {
        width: 100%;
        background-color: var(--bronze);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        box-shadow: var(--layered-shadow);
    }
    
    .nosotros-equipo-cnt-card--img {
        width: 100%;
        box-shadow: var(--layered-shadow);
    }
    
    .nosotros-equipo-cnt-card--name {
        font-family: var(--family-text);
        font-weight: 800;
        font-size: 1.8rem;
        color: var(--black);
        margin-top: -0.5rem;
        margin-bottom: 0.5rem;
    }
    
    .nosotros-equipo-cnt-card--p {
        font-family: var(--family-text);
        font-weight: 300;
        font-size: 1rem;
        color: var(--black);
        margin-bottom: 0.5rem;
    }
    
    .nosotros-btn {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }
    
    .nosotros-btn--link {
        font-family: var(--family-text);
        font-weight: 600;
        font-size: 0.9rem;
        text-transform: uppercase;
        color: var(--white);
        background-color: var(--black);
        padding: 0.5rem 0.8rem;
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-slow);
    }
    
    .nosotros-btn--link:hover {
        color: var(--black);
        background-color: var(--silver);
        transition: var(--transitions-slow);
    }
    
    .gallery-cnt-card-box {
        padding: 2rem;
    }
}




