/* Google Fonts Import */
/* Poppins Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800&display=swap');

/* Variables */
:root {
    /* Font */
    --family: 'Poppins', sans-serif;
    --header: 6rem;
    --title: 2.5rem;
    --sub-title: 1.5rem;
    --text: 1.1rem;
    /* Spacing */
    --spacing-content: 10%;
    --spacing-large: 3rem;
    --spacing-normal: 2rem;
    --spacing-mobile: 1.5rem;
    --spacing-small: 1rem;
    --spacing-micro: 0.5rem;
    /* Colors */
    --black: #000;
    --white: #fff;
    --main-color: rgb(251, 216, 4);
    --secondary-color: #404040;
    /* Transitions */
    --transitions-default: all 0.4s ease-in-out;
    --transitions-slow: all 0.6s ease-in-out;
    /* Shadows */
    --layered-shadow: 
    0 1px 1px hsl(0deg 0% 0% / 0.077),
    0 2px 2px hsl(0deg 0% 0% / 0.077),
    0 4px 4px hsl(0deg 0% 0% / 0.077),
    0 8px 8px hsl(0deg 0% 0% / 0.077),
    0 12px 12px hsl(0deg 0% 0% / 0.077);
}



/* HTML Reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.contacto {
    padding: 3% var(--spacing-content);
    width: 100%;
}

.map {
    padding: 3% var(--spacing-content);
    width: 100%;
}

.map-uwu {
    box-shadow: var(--layered-shadow);
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
}

.contacto--line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 0.5rem 40%;
    margin-bottom: -1rem;
    border-bottom: 3px solid #404040;
}

.contacto--title {
    font-size: 3rem;
    font-family: var(--family);
    font-weight: 800;
    text-transform: uppercase;
    color: #000;
    margin: 1.3rem 0;
    transition: var(--transitions-default);
    text-align: center;
}

.contacto-form-container {
    display: grid;
    grid-template-columns: 65% 25%;
    grid-template-rows: 1fr;
    box-shadow: var(--layered-shadow);
}

.contacto-form-container--form {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-top: 3rem;
    padding: 2rem 2.5rem;
    transition: var(--transitions-default);
}

form:hover {
    transform: scale(1.02);
    transition: var(--transitions-default);
}

.contacto-form-container--title {
    font-size: 1.8rem;
    font-family: var(--family);
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
    margin: 1.3rem 0;
    margin-bottom: 2.5rem;
    transition: var(--transitions-default);
}

.cotizacion-form--line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0.5remrem 0;
    border-bottom: 2px solid #404040;
    margin-bottom: 2rem
}

input, textarea {
    font-family: var(--family);
    font-size: var(--text);
    width: 100%;
    margin: 0.7rem var(--spacing-tiny);
    margin-bottom: 1rem;
    padding: 0.2rem 0.3rem;
    padding-left: 0.5rem;
    color: #000;
    outline: none;
    background: #fff;
    border: none;
    border-bottom: 2px solid #000;
}

textarea {
    border: 2px solid #000;
}

.cotizacion-form-container {
    display: flex;
    align-items: center;
}

.cotizacion--file {
    width: 50%;
    cursor: pointer;
    padding: 1rem;
}

.cotizacion--text {
    font-size: 0.7rem;
    font-family: var(--family);
    font-weight: 400;
    color: #d20000;
    margin-left: 1rem;
    text-align: center;
}

button {
    font-family: var(--family);
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: var(--spacing-tiny) 0;
    margin-top: 1.5rem;
    padding: 0.3rem 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: var(--main-color);
    color: #000;
    outline: none;
    cursor: pointer;
    width: 30%;
    align-self: center;
    transition: var(--transitions-default);
}

button:hover {
    background-color: #000;
    color: #fff;
    transform: scale(1.07);
    transition: var(--transitions-default);
}

.contacto-form-container--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info--title {
    font-size: 1.8rem;
    font-family: var(--family);
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
    margin: 1.3rem 0;
    margin-bottom: 2.5rem;
    transition: var(--transitions-default);
}

.info-phones-box--text {
    font-size: var(--text);
    font-family: var(--family);
    font-weight: 400;
    text-align: center;
    color: #000;
    margin-bottom: 0.2rem;
}

.info-phones-box--title {
    font-size: var(--text);
    font-family: var(--family);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 0.2rem;
}

.info--img {
    width: 100px;
    height: 100px;
    margin-top: -2rem;
    background-color: var(--main-color);
    border-radius: 50%;
    transition: var(--transitions-default);
}

.info--img:hover {
    transition: var(--transitions-default);
    transform: scale(1.07)
}



/* Map Section Styling */
.map-api {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.map-api--title {
    font-size: 1.8rem;
    font-family: var(--family);
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
    margin: 1.3rem 0;
    margin-bottom: 2.5rem;
    transition: var(--transitions-default);
}

iframe {
    align-self: center;
    width: 500px;
    height: 500px;
    margin-bottom: 4rem;
}

.map-location {
    margin-top: 1rem;
}

.map-location-adress {
    margin-top: 3.5rem;
}

.map-location-adress--title {
    font-size: var(--text);
    font-family: var(--family);
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 0.2rem;
}

.map-location-adress--text {
    font-size: var(--text);
    font-family: var(--family);
    font-weight: 400;
    color: #000;
    margin-bottom: 0.2rem;
}


/* Mobile Responsive Styling */
@media only screen and (min-width: 220px) and (max-width: 900px) {

    .contacto {
        padding: 3% var(--spacing-content);
        padding-top: 5rem;
        width: 100%;
    }
    
    .map {
        padding: 3% var(--spacing-content);
        width: 100%;
    }
    
    .map-uwu {
        box-shadow: var(--layered-shadow);
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 3rem;
    }
    
    .contacto--line {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: 0.5rem 25%;
        margin-bottom: -1rem;
        border-bottom: 3px solid #404040;
    }
    
    .contacto--title {
        font-size: 2.4rem;
        font-family: var(--family);
        font-weight: 800;
        text-transform: uppercase;
        color: #000;
        margin: 1.3rem 0;
        transition: var(--transitions-default);
        text-align: center;
    }
    
    .contacto-form-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        box-shadow: var(--layered-shadow);
    }
    
    .contacto-form-container--form {
        display: flex;
    }
    
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-top: 1rem;
        padding: 1rem;
        transition: var(--transitions-default);
    }
    
    form:hover {
        transform: scale(1.02);
        transition: var(--transitions-default);
    }
    
    .contacto-form-container--title {
        font-size: 1.8rem;
        font-family: var(--family);
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
        color: var(--main-color);
        margin: 1.3rem 0;
        margin-bottom: 2.5rem;
        transition: var(--transitions-default);
    }
    
    .cotizacion-form--line {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0.5remrem 0;
        border-bottom: 2px solid #404040;
        margin-bottom: 2rem
    }
    
    input, textarea {
        font-family: var(--family);
        font-size: 0.9rem;
        width: 100%;
        margin: 0.7rem var(--spacing-tiny);
        margin-bottom: 1rem;
        padding: 0.2rem 0.3rem;
        padding-left: 0.5rem;
        color: #000;
        outline: none;
        background: #fff;
        border: none;
        border-bottom: 2px solid #000;
    }
    
    textarea {
        border: 2px solid #000;
    }
    
    .cotizacion-form-container {
        display: flex;
        align-items: center;
    }
    
    .cotizacion--file {
        width: 50%;
        cursor: pointer;
        padding: 1rem;
    }
    
    .cotizacion--text {
        font-size: 0.7rem;
        font-family: var(--family);
        font-weight: 400;
        color: #d20000;
        margin-left: 1rem;
        text-align: center;
    }
    
    button {
        font-family: var(--family);
        font-size: 1.3rem;
        font-weight: 700;
        text-transform: uppercase;
        margin: var(--spacing-tiny) 0;
        margin-top: 1.5rem;
        padding: 0.3rem 1.5rem;
        border: none;
        border-radius: 10px;
        background-color: var(--main-color);
        color: #000;
        outline: none;
        cursor: pointer;
        width: 60%;
        align-self: center;
        transition: var(--transitions-default);
    }
    
    button:hover {
        background-color: #000;
        color: #fff;
        transform: scale(1.07);
        transition: var(--transitions-default);
    }
    
    .contacto-form-container--info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -1rem;
    }
    
    .info--title {
        font-size: 1.8rem;
        font-family: var(--family);
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
        color: var(--main-color);
        margin: 1.3rem 0;
        margin-bottom: 2.5rem;
        transition: var(--transitions-default);
    }
    
    .info-phones-box--text {
        font-size: var(--text);
        font-family: var(--family);
        font-weight: 400;
        text-align: center;
        color: #000;
        margin-bottom: 0.2rem;
    }
    
    .info-phones-box--title {
        font-size: var(--text);
        font-family: var(--family);
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 0.2rem;
    }
    
    .info--img {
        width: 100px;
        height: 100px;
        margin-top: -2rem;
        background-color: var(--main-color);
        border-radius: 50%;
        transition: var(--transitions-default);
    }
    
    .info--img:hover {
        transition: var(--transitions-default);
        transform: scale(1.07)
    }
    
    
    
    /* Map Section Styling */
    .map-api {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .map-api--title {
        font-size: 1.8rem;
        font-family: var(--family);
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
        color: var(--main-color);
        margin: 1.3rem 0;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        transition: var(--transitions-default);
    }
    
    iframe {
        align-self: center;
        width: 100%;
        margin-bottom: 4rem;
    }
    
    .map-location {
        margin-top: 1rem;
    }
    
    .map-location-adress {
        margin-top: -1rem;
        margin-bottom: 3.5rem;
    }
    
    .map-location-adress--title {
        font-size: var(--text);
        font-family: var(--family);
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: #000;
        margin-bottom: 0.2rem;
    }
    
    .map-location-adress--text {
        font-size: var(--text);
        font-family: var(--family);
        font-weight: 400;
        text-align: center;
        color: #000;
        margin-bottom: 0.2rem;
    }
}

