/* Google Fonts */
/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Buenard:wght@700&family=Cherry+Swash:wght@700&family=Courgette&family=Philosopher:wght@700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Sawarabi+Mincho&display=swap');



/* Variables */
:root {
    /* Font */
    --family: 'Raleway', sans-serif;
    --title: 6rem;
    --sub-title-1: 3.5rem;
    --sub-title-2: 1.5rem;
    --sub-title-3: 1.5rem;
    --text: 1.1rem;
    --navlinks: 1.4rem;
    /* Colors */
    --blue: #00aeef;
    --white: #fff;
    --red: #cb0001;
    --indigo: #012e66;
    /* Transitions */
    --transitions-default: all 0.3s ease-in-out;
    --transitions-slow: all 0.6s ease-in-out;
    /* Shadows */
    --layered-shadow: 
    0 1px 1px hsl(0deg 0% 0% / 0.067),
    0 2px 2px hsl(0deg 0% 0% / 0.067),
    0 4px 4px hsl(0deg 0% 0% / 0.067),
    0 8px 8px hsl(0deg 0% 0% / 0.067),
    0 12px 12px hsl(0deg 0% 0% / 0.067);
}



/* HTML Reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background: url(src/images/Hero-3.jpg);
    background-color: #f8f8f8;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* Fade Dynamic Class */
.fade {
    opacity: 0;
    transform: translateY(-80%);
    transition: var(--transitions-default);
}



/* Header */
/* Navigation Bar Styling */

/* Logo Navbar Section Styling */
.navbar {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    z-index: 55;
    padding-right: 10%;
    padding-left: 5%;
}

.navbar-logo--img {
    width: 340px;
    height: 180px;
    transition: var(--transitions-default);
    
}

.navbar-logo--img:hover {
    transition: var(--transitions-default);
    transform: scale(1.05);
}

/* Links Navbar Section Styling */


.nav-container--link {
    position: relative;
    display: inline-block;
    font-family: var(--family);
    font-size: var(--text);
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    margin: 0 1rem;
    transition: var(--transitions-default);
}

.nav-container--link:hover {
    color: var(--blue);
    transition: var(--transitions-default);
}

.nav-container--link::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -5px;
    height: 2px;
    background: var(--blue);
    transform: scaleX(0);
    transition: var(--transitions-default);
}

.nav-container--link:hover::after {
    transform: scaleX(1);
}

/* Languages Navbar Section Styling */

.navbar-languages a {
    text-decoration: none;
}

.navbar-languages--icon {
    margin: 0 0.2rem;
    transition: var(--transitions-default);
    filter: drop-shadow(3px 3px 1px rgb(0, 0, 0 , 0.33));
    
}

.navbar-languages--icon:hover {
    transition: var(--transitions-default);
    transform: scale(1.1);
}

.hero {
    width: 100%;
    height: 100vh;
}

.hero-2 {
    width: 100%;
    height: 100vh;
    background-color: #fcfcfc;
}



/* Main */
/* Hero Section Styling */
.hero {
    padding: 0 10%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero--title {

    font-family: 'Philosopher', sans-serif;
    font-size: 4.3rem;
    font-weight: 900;
    width:77%;
    text-transform: uppercase;
    margin-top: -5rem;
    line-height: 1;
    
}

.hero--text {
    font-family: var(--family);
    font-size: var(--text);
    font-weight: 400;
    line-height: 1.3;
    width: 45%;
    margin: 1rem 0;
}

.hero--btn-cnt {
    margin-top: 0.8rem;
}

.hero--btn {
    font-family: var(--family);
    font-size: var(--text);
    font-weight: 400;
    text-decoration: none;
    padding: 0.7rem 1.5rem;
    color: #fff;
    background-color: var(--blue);
    box-shadow: var(--layered-shadow);
    transition: var(--transitions-default);
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    border-radius: 20px;
}

.hero--btn:hover {
    background-color: #030045;
    transition: var(--transitions-default);
}



/* About Section Styling */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(src/images/About-Wall-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.about-left {
    justify-content: center;
    width: 460px;
    max-height: 500px;
    background-color: #fff;
    margin-right: -8rem;
    padding: 2rem;
    z-index: 15;
    box-shadow: var(--layered-shadow);
    transition: var(--transitions-slow);
    border-radius: 20px;
}

.about-left:hover {
    transform: scale(1.04);
}

.about-left--sect {
    font-family: var(--family);
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.3;
    margin: 0.4rem 0;
}

.about-left--title {
    font-family: var(--family);
    font-size: 2rem;
    font-weight: 700;
    width: 85%;
    line-height: 1;
    margin: 0.8rem 0;
}

.about-left--text {
    font-family: var(--family);
    font-size: var(--text);
    font-weight: 400;
    line-height: 1.3;
    margin: 0.4rem 0;
}

.about-left--btn-cnt {
    margin-top: 1.8rem;
    padding-bottom: 0.5rem;
}

.about-left--btn {
    font-family: var(--family);
    font-size: var(--text);
    font-weight: 400;
    text-decoration: none;
    padding: 0.7rem 1.5rem;
    color: #fff;
    background-color: var(--blue);
    box-shadow: var(--layered-shadow);
    transition: var(--transitions-default);
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    border-radius: 20px;
}

.about-left--btn:hover {
    transition: var(--transitions-default);
    background-color: #030045;
}

.about-right--banner {
    width: 40vw;
    height: 100vh;
        background-size: cover;
        background-position: center;
        transition: all .6s ease-in-out;
        animation: banner 10s infinite linear;
        background-image: url(src/images/About1.jpg);
        transform: scale(0.7);
        box-shadow: var(--layered-shadow);
}

.about-right--banner:hover {
    transform: scale(0.73);
    transition: all .6s ease-in-out;
}

@keyframes banner {
    0% {
        background-image: url("src/images/About1.jpg"); 
    }
    50% {
        background-image: url("src/images/About1.jpg"); 
    }
    51% {
        background-image: url("src/images/About-2.jpg"); 
    }
    100% {
        background-image: url("src/images/About-2.jpg"); 
    }
}



/* Preview Section Styling */
.preview {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("src/images/a.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
}

.preview-left {
    justify-content: center;
    background-color: #fff;
    z-index: 15;
    transition: var(--transitions-slow);
}

video {
    width: 777px;
    height: auto;
    box-shadow: var(--layered-shadow);
    transition: var(--transitions-slow);
}

video:hover {
    transition: var(--transitions-slow);
    transform: scale(1.05);
}

.preview-right {
    justify-content: center;
    width: 460px;
    height: 390px;
    background-color: #fff;
    padding: 2rem;
    z-index: 15;
    margin-left: -3rem;
    box-shadow: var(--layered-shadow);
    transition: var(--transitions-slow);
    border-radius: 20px;
}

.preview-right:hover {
    transform: scale(1.1);
    transition: var(--transitions-slow);
}

.preview-right--sect {
    font-family: var(--family);
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.3;
    margin: 0.4rem 0;
}

.preview-right--title {
    font-family: var(--family);
    font-size: 2rem;
    font-weight: 700;
    width: 85%;
    line-height: 1;
    margin: 0.8rem 0;
}

.preview-right-cnt-box {
    display: flex;
    align-items: center;
}

.preview-right-cnt-box--text {

    font-family: var(--family);
    font-size: var(--text);
    font-weight: 400;
    line-height: 1.3;
    margin: 1rem 0;
    margin-left: 0.5rem;
}



/* Video Section Styling */
.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(src/images/About-Wall-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}



.video--title{ 
    margin-top: -4rem;
    font-family: var(--family);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 2rem;
}

.video-container {
    width: 850px;
    height: 450px;
}

.video-containerr{
    width: 1000px;
    height: 500px;
}

iframe {
    width: 100%;
    height: 555px;
    border: none;
    box-shadow: var(--layered-shadow);
    transition: var(--transitions-slow);
}

iframe:hover {
    transform: scale(1.05);
    transition: var(--transitions-slow);
}

.action-container--video {
    width: 100%;
    height: auto;
}



/* Contact Section Styling */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(src/images/a.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contact-form {
    z-index: 15;
    width: 500px;
}

.contact-right--img {
    margin-top: 2rem;
    width: 600px;
    height: auto;
    margin-left: -2rem;
    z-index: 3;
    box-shadow: var(--layered-shadow);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--blue);
    margin-top: 3rem;
    padding: 1rem 2rem;
    box-shadow: var(--layered-shadow);
    transition: var(--transitions-default);
    border-radius: 20px;
}

.data-cnt {
    display: flex;
    align-items:baseline;
    justify-content:flex-start;
}

.data_loc {
    font-family: var(--family);
    font-size: var(--text);
    font-weight: 400;
    color: #fff;
    padding-bottom: 0.1rem;
}


form:hover {
    transform: scale(1.03);
    transition: var(--transitions-default);
}

form h5 {
    font-size: 1.8rem;
    font-family: var(--family);
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    margin: 1.3rem 0;
    transition: var(--transitions-default);
}

.form-box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-box-p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-box-p p {
    font-family: var(--family);
    font-size: var(--text);
    font-weight: 400;
    color: #fff;
    padding-bottom: 0.1rem;
}

.form-boxy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 96.5%;
    margin: 0 0.5rem;
}

.form-boxy p {
    font-family: var(--family);
    font-size: var(--text);
    font-weight: 400;
    color: #fff;
    padding-bottom: 0.1rem;
}

.form-box p {
    font-family: var(--family);
    font-size: var(--text);
    font-weight: 400;
    color: #fff;
    padding-bottom: 0.1rem;
}

.form-bop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-box--box {
    margin: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-box--boxp {
    margin: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -0.8rem;
}

label {
    font-family: var(--family);
    font-size: var(--text);
    font-weight: 400;
    color: #fff;
    padding-bottom: 0.1rem;
    margin-top: -0.3;
}

.form-bop-input {
    margin-top: 0.6rem;
    width: 7%;
}


input, select {
    font-family: var(--family);
    font-size: var(--text);
    width: 100%;
    margin: 0.7rem var(--spacing-tiny);
    margin-bottom: 0.8rem;
    padding: 2rem var(--spacing-tiny);
    padding-left: 0.5rem;
    outline: none;
    background: #ffff;
    border: 1px solid #ededed;
}

textarea {
    font-family: var(--family);
    font-size: var(--text);
    width: 100%;
    margin: 0.7rem 2rem;
    margin-bottom: 0.8rem;
    padding: 2rem var(--spacing-tiny);
    padding-left: 0.5rem;
    outline: none;
    background: #ffff;
    border: 1px solid #ededed;
}

.contact--file {
    width: 100%;
    cursor: pointer;
    padding: 1rem;
}
.do-you {
    font-family: var(--family);
    font-size: var(--text);
    font-weight: 400;
    color: #fff;
    padding-bottom: 0.1rem;
    text-align: center;
}
.contact--text {
    font-size: 0.7rem;
    font-family: var(--family);
    font-weight: 400;
    color: #fff;
    margin-top: 0.2rem;
    margin-left: 1rem;
    text-align: center;
}

button {
    font-family: var(--family);
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: var(--spacing-tiny) 0;
    margin-top: 1.5rem;
    padding: 0.3rem 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: var(--blue);
    color: #fff;
    outline: none;
    cursor: pointer;
    align-self: flex-end;
    transition: var(--transitions-default);
}

button:hover {
    color: var(--red);
    transform: scale(1.1);
    transition: var(--transitions-default);
}



/* Footer Section Styling */
footer {
    background-color: var(--blue);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 0;
}

.copy-2 {
    font-size: 0.8rem;
    font-family: var(--family);
    font-weight: 400;
    color: #fff;
    margin-top: 0.2rem;
    margin-left: 1rem;
    text-align: center; 
}


.copy {
    font-size: 0.5rem;
    font-family: var(--family);
    font-weight: 400;
    color: #fff;
    margin-top: 0.2rem;
    margin-left: 1rem;
    text-align: center;
}










/* Mobile Responsive Adaptability */
@media screen and (max-width: 999px) {

    /* Hamburguer Menu */

    .nav-menu {
        background-color: #fff;
        padding: 1.5rem 0.6rem;
        box-shadow: var(--layered-shadow);
        border-radius: 6px;
        position: fixed;
        display: flex;
        right: 2%;
        top: 2.5%;
        align-items: center;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        transform: scale(1);
        z-index: 33;
        
    }

    .nav-menu-burger {
        width: 40px;
        height: 7px;
        justify-content: center;
        background-color: #000;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all 0.5s ease-in-out
    }

    .nav-menu-burger::before, .nav-menu-burger::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 7px;
        background-color: #000;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all 0.5s ease-in-out;
    }

    .nav-menu-burger::before {
        transform: translateY(-12px);
    }

    .nav-menu-burger::after {
        transform: translateY(12px);
    }

    .nav-menu.open .nav-menu-burger {
        transform: translate(-50px);
        background: transparent;
        box-shadow: none;
    }

    .nav-menu.open .nav-menu-burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }
        
    .nav-menu.open .nav-menu-burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    /* Header */
/* Navigation Bar Styling */

/* Logo Navbar Section Styling */
.navbar {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 15vh;
    z-index: 55;
}

.navbar-logo--img {
    width: 220px;
    height: 130px;
    margin-left: -1rem;
    transition: var(--transitions-default);
    
}

.navbar-logo--img:hover {
    transition: var(--transitions-default);
    transform: scale(1.05);
}

/* Links Navbar Section Styling */

.nav-container {
    display: flex;
    flex-direction: row;
}

.nav-container--link {
    position: relative;
    display: flex;
    font-family: var(--family);
    font-size: var(--text);
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    margin: 0.2rem 1rem;
    transition: var(--transitions-default);
}

.nav-container--link:hover {
    color: var(--blue);
    transition: var(--transitions-default);
}

.nav-container--link::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -5px;
    height: 2px;
    background: var(--blue);
    transform: scaleX(0);
    transition: var(--transitions-default);
}

.nav-container--link:hover::after {
    transform: scaleX(1);
}



/* Languages Navbar Section Styling */
.navbar-languages {
    display: none;
}
.navbar-languages a {
    text-decoration: none;
}

.navbar-languages--icon {
    margin: 0 0.2rem;
    transition: var(--transitions-default);
    filter: drop-shadow(3px 3px 1px rgb(0, 0, 0 , 0.33));
    
}

.navbar-languages--icon:hover {
    transition: var(--transitions-default);
    transform: scale(1.1);
}


    /* Hero Section Styling */
    .hero {
        padding: 2rem;
        width: 100%;
        height: 100vh;
        background: url(src/images/Tablet.jpg);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero--title {

        font-family: 'Philosopher', sans-serif;
        font-size: 2.5rem;
        font-weight: 900;
        width:100%;
        text-transform: uppercase;
        margin-top: -10rem;
        line-height: 1;
        
    }

    .hero--text {
        font-family: var(--family);
        font-size: var(--text);
        font-weight: 400;
        line-height: 1.3;
        width: 45%;
        margin: 1rem 0;
    }

    .hero--btn-cnt {
        margin-top: 0.8rem;
    }

    .hero--btn {
        font-family: var(--family);
        font-size: var(--text);
        font-weight: 400;
        text-decoration: none;
        padding: 0.7rem 1.5rem;
        color: #fff;
        background-color: var(--blue);
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-default);
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        border-radius: 0px;
    }

    .hero--btn:hover {
        background-color: #030045;
        transition: var(--transitions-default);
    }

    /* About Section Styling */
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(src/images/About-Wall-2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        padding: 2rem;
    }

    .about-left {
        justify-content: center;
        width: 100%;
        max-height: 500px;
        background-color: #fff;
        margin-right: 0;
        padding: 2rem;
        z-index: 15;
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-slow);
        border-radius: 20px;
    }

    .about-left:hover {
        transform: scale(1.04);
    }

    .about-left--sect {
        font-family: var(--family);
        font-size: 0.9rem;
        font-weight: 600;
        line-height: 1.3;
        margin: 0.4rem 0;
    }

    .about-left--title {
        font-family: var(--family);
        font-size: 2rem;
        font-weight: 700;
        width: 85%;
        line-height: 1;
        margin: 0.8rem 0;
    }

    .about-left--text {
        font-family: var(--family);
        font-size: var(--text);
        font-weight: 400;
        line-height: 1.3;
        margin: 0.4rem 0;
    }

    .about-left--btn-cnt {
        margin-top: 1.8rem;
        padding-bottom: 0.5rem;
    }

    .about-left--btn {
        font-family: var(--family);
        font-size: var(--text);
        font-weight: 400;
        text-decoration: none;
        padding: 0.7rem 1.5rem;
        color: #fff;
        background-color: var(--blue);
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-default);
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        border-radius: 20px;
    }

    .about-left--btn:hover {
        transition: var(--transitions-default);
        background-color: #030045;
    }

    .about-right--banner {
        display: none;
        width: 80vw;
        height: 100vh;
            background-size: cover;
            background-position: center;
            transition: all .6s ease-in-out;
            animation: banner 10s infinite linear;
            background-image: url(src/images/About1.jpg);
            transform: scale(1);
            box-shadow: var(--layered-shadow);
    }

    .about-right--banner:hover {
        transform: scale(1);
        transition: all .6s ease-in-out;
    }

    @keyframes banner {
        0% {
            background-image: url("src/images/About1.jpg"); 
        }
        50% {
            background-image: url("src/images/About1.jpg"); 
        }
        51% {
            background-image: url("src/images/About-2.jpg"); 
        }
        100% {
            background-image: url("src/images/About-2.jpg"); 
        }
    }

    /* Preview Section Styling */
    .preview {
        width: 100%;
        height: 100vh;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("src/images/a.jpg"); 
        background-size: cover;
        background-repeat: no-repeat;
    }

    .preview-left {
        justify-content: center;
        background-color: #fff;
        z-index: 15;
        transition: var(--transitions-slow);
    }

    video {
        width: 100%;
        height: auto;
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-slow);
    }

    video:hover {
        transition: var(--transitions-slow);
        transform: scale(1.05);
    }

    .preview-right {
        justify-content: center;
        width: 100%;
        height: auto;
        background-color: #fff;
        padding: 2rem;
        z-index: 15;
        margin-left: 0;
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-slow);
        border-radius: 20px;
        margin-top: 1.5rem;
    }

    .preview-right:hover {
        transform: scale(1.1);
        transition: var(--transitions-slow);
    }

    .preview-right--sect {
        font-family: var(--family);
        font-size: 0.9rem;
        font-weight: 600;
        line-height: 1.3;
        margin: 0.4rem 0;
    }

    .preview-right--title {
        font-family: var(--family);
        font-size: 1.5rem;
        font-weight: 700;
        width: 85%;
        line-height: 1;
        margin: 0.8rem 0;
    }

    .preview-right-cnt-box {
        display: flex;
        align-items: center;
    }

    .preview-right-cnt-box--text {

        font-family: var(--family);
        font-size: var(--text);
        font-weight: 400;
        line-height: 1.3;
        margin: 1rem 0;
        margin-left: 0.5rem;
    }



    /* Video Section Styling */
    .video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(src/images/About-Wall-3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
        width: 100%;
        padding: 2rem;
    }

    .video--title{ 
        font-family: var(--family);
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        padding-bottom: 2rem;
    }

    .video-container {
        width: 100%;
        height: 450px;
    }

    iframe {
        width: 100%;
        height: 450px;
        border: none;
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-slow);
    }

    iframe:hover {
        transform: scale(1.05);
        transition: var(--transitions-slow);
    }



    /* Video Section Styling */
    .video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(src/images/About-Wall-3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
    }

    .video--title{ 
        font-family: var(--family);
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        padding-bottom: 2rem;
    }

    .video-container {
        width: 100%;
        height: auto;
    }

    .video-containerr{
        width: 100%;
        height: 500px;
    }

    iframe {
        width: 100%;
        height: 450px;
        border: none;
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-slow);
    }

    iframe:hover {
        transform: scale(1.05);
        transition: var(--transitions-slow);
    }



    /* Contact Section Styling */
    .contact {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: url(src/images/a.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
        width: 100%;
        padding: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .contact-form {
        z-index: 15;
    }

    .contact-right--img {
        display: none;
        margin-top: 2rem;
        width: 100%;
        height: auto;
        margin-left: 0;
        z-index: 3;
        box-shadow: var(--layered-shadow);
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        background-color: var(--blue);
        margin-top: 3rem;
        padding: 2rem 2.5rem;
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-default);
        border-radius: 20px;
    }


    form:hover {
        transform: scale(1.03);
        transition: var(--transitions-default);
    }

    form h5 {
        font-size: 1.8rem;
        font-family: var(--family);
        font-weight: 800;
        text-transform: uppercase;
        color: #fff;
        margin: 1.3rem 0;
        transition: var(--transitions-default);
    }

    .cotizacion-form--line {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0.5remrem 0;
        border-bottom: 2px solid #404040;
        margin-bottom: 2rem
    }

    input, textarea {
        font-family: var(--family);
        font-size: var(--text);
        width: 100%;
        margin: 0.7rem var(--spacing-tiny);
        margin-bottom: 0.8rem;
        padding: 2rem var(--spacing-tiny);
        padding-left: 0.5rem;
        outline: none;
        background: #ffff;
        border: 1px solid #ededed;
    }

    .contact--file {
        width: 100%;
        cursor: pointer;
        padding: 1rem;
    }

    .contact--text {
        font-size: 0.7rem;
        font-family: var(--family);
        font-weight: 400;
        color: #fff;
        margin-top: 0.2rem;
        margin-left: 1rem;
        text-align: center;
    }

    button {
        font-family: var(--family);
        font-size: 1.3rem;
        font-weight: 700;
        text-transform: uppercase;
        margin: var(--spacing-tiny) 0;
        margin-top: 1.5rem;
        padding: 0.3rem 1.5rem;
        border: none;
        border-radius: 10px;
        background-color: var(--blue);
        color: #fff;
        outline: none;
        cursor: pointer;
        align-self: flex-end;
        transition: var(--transitions-default);
    }

    button:hover {
        color: var(--red);
        transform: scale(1.1);
        transition: var(--transitions-default);
    }

}








/* Mobile Responsive Adaptability */
@media screen and (max-width: 499px) {

    /* Hamburguer Menu */

    .nav-menu {
        background-color: #fff;
        padding: 1.5rem 0.6rem;
        box-shadow: var(--layered-shadow);
        border-radius: 6px;
        position: fixed;
        display: flex;
        right: 2%;
        top: 2.5%;
        align-items: center;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        transform: scale(1);
        z-index: 33;
        
    }

    .nav-menu-burger {
        width: 40px;
        height: 7px;
        justify-content: center;
        background-color: #000;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all 0.5s ease-in-out
    }

    .nav-menu-burger::before, .nav-menu-burger::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 7px;
        background-color: #000;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all 0.5s ease-in-out;
    }

    .nav-menu-burger::before {
        transform: translateY(-12px);
    }

    .nav-menu-burger::after {
        transform: translateY(12px);
    }

    .nav-menu.open .nav-menu-burger {
        transform: translate(-50px);
        background: transparent;
        box-shadow: none;
    }

    .nav-menu.open .nav-menu-burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }
        
    .nav-menu.open .nav-menu-burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    /* Header */
/* Navigation Bar Styling */

/* Logo Navbar Section Styling */
.navbar {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 15vh;
    z-index: 55;
}

.navbar-logo--img {
    width: 220px;
    height: 130px;
    margin-left: -1rem;
    transition: var(--transitions-default);
    
}

.navbar-logo--img:hover {
    transition: var(--transitions-default);
    transform: scale(1.05);
}

/* Links Navbar Section Styling */

.nav-container {
    display: none;
    flex-direction: row;
}

.nav-container--link {
    position: relative;
    display: none;
    font-family: var(--family);
    font-size: var(--text);
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    margin: 0.2rem 1rem;
    transition: var(--transitions-default);
}

.nav-container--link:hover {
    color: var(--blue);
    transition: var(--transitions-default);
}

.nav-container--link::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -5px;
    height: 2px;
    background: var(--blue);
    transform: scaleX(0);
    transition: var(--transitions-default);
}

.nav-container--link:hover::after {
    transform: scaleX(1);
}



/* Languages Navbar Section Styling */
.navbar-languages {
   display: flex;
}
.navbar-languages a {
    text-decoration: none;
}

.navbar-languages--icon {
    margin: 0 0.2rem;
    transition: var(--transitions-default);
    filter: drop-shadow(3px 3px 1px rgb(0, 0, 0 , 0.33));
    
}

.navbar-languages--icon:hover {
    transition: var(--transitions-default);
    transform: scale(1.1);
}


    /* Hero Section Styling */
    .hero {
        padding: 2rem;
        width: 100%;
        height: 100vh;
        background: url(src/images/Mobile.jpg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .hero--title {

        font-family: 'Philosopher', sans-serif;
        font-size: 2.5rem;
        font-weight: 900;
        width:100%;
        text-transform: uppercase;
        margin-top: -11rem;
        line-height: 1;
    }

    .hero--text {
        font-family: var(--family);
        font-size: var(--text);
        font-weight: 400;
        line-height: 1.3;
        width: 45%;
        margin: 1rem 0;
    }

    .hero--btn-cnt {
        margin-top: 0.8rem;
    }

    .hero--btn {
        font-family: var(--family);
        font-size: 1rem;
        font-weight: 400;
        text-decoration: none;
        padding: 0.4rem 0.6rem;
        color: #fff;
        background-color: var(--blue);
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-default);
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        border-radius: 0px;
    }

    .hero--btn:hover {
        background-color: #030045;
        transition: var(--transitions-default);
    }

    /* About Section Styling */
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(src/images/About-Wall-2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        padding: 2rem;
    }

    .about-left {
        justify-content: center;
        width: 100%;
        max-height: 1000px;
        background-color: #fff;
        margin-right: 0;
        padding: 2rem;
        padding-bottom: 2.5rem;
        z-index: 15;
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-slow);
        border-radius: 20px;
    }

    .about-left:hover {
        transform: scale(1.04);
    }

    .about-left--sect {
        font-family: var(--family);
        font-size: 0.9rem;
        font-weight: 600;
        line-height: 1.3;
        margin: 0.4rem 0;
    }

    .about-left--title {
        font-family: var(--family);
        font-size: 2rem;
        font-weight: 700;
        width: 85%;
        line-height: 1;
        margin: 0.8rem 0;
    }

    .about-left--text {
        font-family: var(--family);
        font-size: var(--text);
        font-weight: 400;
        line-height: 1.3;
        margin: 0.4rem 0;
    }

    .about-left--btn-cnt {
        margin-top: 1.8rem;
        padding-bottom: 0.5rem;
    }

    .about-left--btn {
        font-family: var(--family);
        font-size: var(--text);
        font-weight: 400;
        text-decoration: none;
        padding: 0.7rem 1.5rem;
        color: #fff;
        background-color: var(--blue);
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-default);
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        border-radius: 20px;
    }

    .about-left--btn:hover {
        transition: var(--transitions-default);
        background-color: #030045;
    }

    .about-right--banner {
        display: none;
        width: 80vw;
        height: 100vh;
            background-size: cover;
            background-position: center;
            transition: all .6s ease-in-out;
            animation: banner 10s infinite linear;
            background-image: url(src/images/About1.jpg);
            transform: scale(1);
            box-shadow: var(--layered-shadow);
    }

    .about-right--banner:hover {
        transform: scale(1);
        transition: all .6s ease-in-out;
    }

    @keyframes banner {
        0% {
            background-image: url("src/images/About1.jpg"); 
        }
        50% {
            background-image: url("src/images/About1.jpg"); 
        }
        51% {
            background-image: url("src/images/About-2.jpg"); 
        }
        100% {
            background-image: url("src/images/About-2.jpg"); 
        }
    }

    /* Preview Section Styling */
    .preview {
        width: 100%;
        height: 120vh;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("src/images/a.jpg"); 
        background-size: cover;
        background-repeat: no-repeat;
    }

    .preview-left {
        justify-content: center;
        background-color: #fff;
        z-index: 15;
        transition: var(--transitions-slow);
    }

    video {
        width: 100%;
        height: auto;
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-slow);
    }

    video:hover {
        transition: var(--transitions-slow);
        transform: scale(1.05);
    }

    .preview-right {
        justify-content: center;
        width: 100%;
        height: auto;
        background-color: #fff;
        padding: 2rem;
        z-index: 15;
        margin-left: 0;
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-slow);
        border-radius: 20px;
        margin-top: 1.5rem;
    }

    .preview-right:hover {
        transform: scale(1.1);
        transition: var(--transitions-slow);
    }

    .preview-right--sect {
        font-family: var(--family);
        font-size: 0.9rem;
        font-weight: 600;
        line-height: 1.3;
        margin: 0.4rem 0;
    }

    .preview-right--title {
        font-family: var(--family);
        font-size: 1.5rem;
        font-weight: 700;
        width: 85%;
        line-height: 1;
        margin: 0.8rem 0;
    }

    .preview-right-cnt-box {
        display: flex;
        align-items: center;
    }

    .preview-right-cnt-box--text {

        font-family: var(--family);
        font-size: var(--text);
        font-weight: 400;
        line-height: 1.3;
        margin: 1rem 0;
        margin-left: 0.5rem;
    }



    /* Video Section Styling */
    .video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(src/images/About-Wall-3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
        width: 100%;
        padding: 2rem;
    }

    .video--title{ 
        font-family: var(--family);
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        padding-bottom: 2rem;
    }

    .video-container {
        width: 100%;
        height: 450px;
    }

    iframe:hover {
        transform: scale(1.05);
        transition: var(--transitions-slow);
    }



    /* Video Section Styling */
    .video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(src/images/About-Wall-3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
    }

    .video--title{ 
        font-family: var(--family);
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        padding-bottom: 2rem;
    }

    .video-container {
        width: 100%;
        height: auto;
    }

    iframe {
        width: 100%;
        height: 450px;
        border: none;
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-slow);
    }

    iframe:hover {
        transform: scale(1.05);
        transition: var(--transitions-slow);
    }

    .video-containerr{
        width: 100%;
        height: auto;
    }

    iframe {
        width: 100%;
        height: 200px;
        border: auto;
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-slow);
    }



    /* Contact Section Styling */
    .contact {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: url(src/images/a.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
        width: 100%;
        padding: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .contact-form {
        width: 100%;
        z-index: 15;
    }

    .contact-right--img {
        display: none;
        margin-top: 2rem;
        width: 100%;
        height: auto;
        margin-left: 0;
        z-index: 3;
        box-shadow: var(--layered-shadow);
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        background-color: var(--blue);
        margin-top: 3rem;
        padding: 1rem 1.5rem;
        box-shadow: var(--layered-shadow);
        transition: var(--transitions-default);
        border-radius: 20px;
    }


    form:hover {
        transform: scale(1.03);
        transition: var(--transitions-default);
    }

    form h5 {
        font-size: 1.8rem;
        font-family: var(--family);
        font-weight: 800;
        text-transform: uppercase;
        color: #fff;
        margin: 1.3rem 0;
        transition: var(--transitions-default);
    }

    .cotizacion-form--line {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0.5remrem 0;
        border-bottom: 2px solid #404040;
        margin-bottom: 2rem
    }

    input, textarea {
        font-family: var(--family);
        font-size: var(--text);
        width: 100%;
        margin: 0.7rem var(--spacing-tiny);
        margin-bottom: 0.8rem;
        padding: 2rem var(--spacing-tiny);
        padding-left: 0.5rem;
        outline: none;
        background: #ffff;
        border: 1px solid #ededed;
    }

    .contact--file {
        width: 100%;
        cursor: pointer;
        padding: 1rem;
    }

    .contact--text {
        font-size: 0.7rem;
        font-family: var(--family);
        font-weight: 400;
        color: #fff;
        margin-top: 0.2rem;
        margin-left: 1rem;
        text-align: center;
    }

    button {
        font-family: var(--family);
        font-size: 1.3rem;
        font-weight: 700;
        text-transform: uppercase;
        margin: var(--spacing-tiny) 0;
        margin-top: 1.5rem;
        padding: 0.3rem 1.5rem;
        border: none;
        border-radius: 10px;
        background-color: var(--blue);
        color: #fff;
        outline: none;
        cursor: pointer;
        align-self: flex-end;
        transition: var(--transitions-default);
    }

    button:hover {
        color: var(--red);
        transform: scale(1.1);
        transition: var(--transitions-default);
    }

}